@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

@import "package:module_core/site";
@import "package:bootstrap_sass/scss/bootstrap";


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #f0f0f0;
  color: #202020;
  transition: color 1s, background-color 1s;
  height: 100%;
}
body.dark {
  color: #f0f0f0;
  background-color: #202020;
}
body .navbar-brand img {
  transition: filter 1s;
}
body.dark .navbar-brand img {
	filter: invert(100%);
}

.navbar-collapse.collapse.show, .navbar-collapse.collapsing {
  background-color: #f0f0f0;
  box-shadow: #f0f0f0 0px 0px 15px;
  border-radius: 5px;
     margin: 0 -15px;
    padding: 10px 15px;
}

body.dark .navbar-collapse.collapse.show, body.dark .navbar-collapse.collapsing {
  background-color: #202020;
  box-shadow: #202020 0px 0px 15px;
  border-radius: 5px;
     margin: 0 -15px;
    padding: 10px 15px;
}

main {
  height: 100%;
}
#home {
  height: 100vh;
}
#home img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.navbar-auto a {
  color: inherit;
}

.navbar-auto .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
body.dark .navbar-auto .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


header {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.pad-top {
    padding-top: 70px;
}

.carousel-item {
  height: 100vh;
}
.carousel-item.fit-frame {
  padding-top: 70px;
  padding-bottom: 56px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.carousel-item.fit-cover img {
  object-fit: cover;
}

.carousel-caption {
  bottom: 0;
  font-size: 14px;
  padding: 0;
  color: rgba(0,0,0,.9);
}
.carousel-indicators li {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #202020;
  transition: background-color 1s;
  opacity: 0.3;
}
body.dark .carousel-indicators li {
  background-color: #f0f0f0;
}

.carousel-indicators li.title {
  opacity: 0.6;
}
.carousel {
  /*margin: 0 12%;*/
}
.start-link {
  margin-top: 26px;
  text-align: center;
}
.start-link a {
  text-decoration: none;
  color: inherit;
  opacity: 0.8;
}
.start-link a:hover {
  opacity: 1.0;
}
.carousel-control-next, .carousel-control-prev {
    display: block;
    opacity: 0.1;
    width: 25%;
    color: inherit;
}
.carousel-control-next span, .carousel-control-prev span {
  line-height: 20px;
  top: 50%;
  margin-top: -10px;
  position: absolute;

}
.carousel-control-next span {
  right: 20px;
}
.carousel-control-prev span {
  left: 20px;
}

@media (min-width: 800px) {
  .carousel-control-next span, .carousel-control-prev span {
    font-size: 30px;
  }
  .carousel-control-next span {
    right: 50px;
  }
  .carousel-control-prev span {
    left: 50px;
  }
}

.carousel-control-next:hover {
  opacity: 1;
  color: inherit;
}
.carousel-control-prev:hover {
  opacity: 1;
  color: inherit;
}
.dropdown-menu {
  font-size: 0.9rem;
}

.title-item {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: .9rem;
}
h2 {
  font-size: 1.2rem;
}

p {
  text-indent: 4%;
  font-size: 0.8rem;
  text-align: justify;
  text-justify: inter-word;

}

#awardsContent {
  list-style-type:none;
     padding: 0;
}
#awardsContent li {
  padding: 10px;
  font-size: 0.8rem;
}

#exhibitionsContent {
  list-style-type:none;
     padding: 0;
}
#exhibitionsContent li {
  padding: 10px;
  font-size: 0.8rem;
}
