
@import "package:module_core/reset";
@import "package:module_core/colors";
@import "package:module_core/grid";
@import "package:module_core/widgets";

.modal-shadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 100;
}
