$primary: #4582b2;
$secondary: #73A839;
$info: #033C73;
$warning: #DD5600;
$error: #22afc7;
$bg-primary: #ffffff;
$bg-secondary: #eeeeee;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "warning": $warning,
  "error": $error,
  "bg-primary": $bg-primary,
  "bg-secondary": $bg-secondary
);
