
// xs: 0 - 575
// sm: 576 - 767
// ...
$breakpoints: ("sm": 576px, "md": 768px, "lg": 992px, "xl": 1200px);
$gutter: 10px;

$break-sm: map-get($breakpoints, "sm");
$break-md: map-get($breakpoints, "md");
$break-lg: map-get($breakpoints, "lg");
$break-xl: map-get($breakpoints, "xl");

.container {
  padding: 0 $gutter;

  @media (min-width: $break-sm) {
    padding: 0;
    margin: 0 auto;
  }

  @each $name, $width in $breakpoints {
    @media (min-width: $width) {
      width: $width - (2 * $gutter);
    }
  }
}

@each $name, $width in $breakpoints {

    .hide-#{$name} {
        @media (min-width: $width) {
            display: none !important;
        }
    }

    .show-#{$name} {
        @media (max-width: $width - 1) {
            display: none !important;
        }
    }
}

@mixin min-sm {
  @media (min-width: $break-sm) {
    @content;
  }
}

@mixin min-md {
  @media (min-width: $break-md) {
    @content;
  }
}

@mixin min-lg {
  @media (min-width: $break-lg) {
    @content;
  }
}

@mixin min-xl {
  @media (min-width: $break-xl) {
    @content;
  }
}

@mixin max-xs {
  @media (max-width: $break-sm - 1) {
    @content;
  }
}

@mixin max-sm {
  @media (max-width: $break-md - 1) {
    @content;
  }
}

@mixin max-md {
  @media (max-width: $break-lg - 1) {
    @content;
  }
}

@mixin max-lg {
  @media (max-width: $break-xl - 1) {
    @content;
  }
}