
.slot {
  position: relative;
}

.slot > .fo {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.widget {
  animation: show 0.2s linear;
}
.slot > .fo > .widget {
  animation-direction: reverse;
}

@keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.loading {
  background-color: $bg-primary;
}

.loading * {
  display: none;
}

.loading::after {
  content: " ";
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  border: 10px solid $bg-primary;
  border-radius: 50%;
  border-top: 10px solid $primary;
  border-bottom: 10px solid $primary;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
