@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Lato');

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bjdul4');
  src:  url('fonts/icomoon.eot?bjdul4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bjdul4') format('truetype'),
    url('fonts/icomoon.woff?bjdul4') format('woff'),
    url('fonts/icomoon.svg?bjdul4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ebay:before {
  content: "\e900";
}
.icon-cheveron-down:before {
  content: "\e901";
}
.icon-cheveron-left:before {
  content: "\e902";
}
.icon-cheveron-right:before {
  content: "\e903";
}
.icon-cheveron-up:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-blogger:before {
  content: "\eab7";
}
