/*
Based on "Freelancer" bootstrap theme
Copyright (c) 2013-2019 Blackrock Digital LLC
*/
@import "package:module_core/site";

$primary: #18bc9c;
$secondary: #2c3e50;

@import "fonts.scss";

// Import variables (overrides Bootstrap defaults)
@import "freelancer/base/variables.scss";

// Import Bootstrap
//@import "bootstrap/scss/bootstrap.scss";

@import "package:bootstrap_sass/scss/bootstrap";

// Import base styles
.page-section {
  padding: 6rem 0;
  .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @include media-breakpoint-up(lg) {
    .page-section-heading {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}
// Import components styles
@import "freelancer/components/buttons.scss";

// Import layout styles
@import "freelancer/layout/navbar.scss";
@import "freelancer/layout/masthead.scss";
@import "freelancer/layout/portfolio.scss";
@import "freelancer/layout/contact.scss";
@import "freelancer/layout/footer.scss";

#body {
    margin-top: 83px;
    @include media-breakpoint-up(lg) {
      margin-top: 104px;
    }
}

hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\e9d9';
  font-family: "icomoon";
  font-weight: 900;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #18BC9C;
}
.masthead hr.star-light:after {
  background-color: #2a252c;
}

hr.star-dark {
  border-color: #2C3E50;
}

hr.star-dark:after {
  color: #2C3E50;
  background-color: white;
}

section {
  padding: 6rem 0;
  background-color: white;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}



header.masthead {
  background-color: #2a252c;
  min-height: 620px;
  background-image: url(../img/dread.jpg);
  background-repeat: no-repeat;
  background-position: calc(50% - 118px) 100%;
}

@media (min-width: 992px) {
  header.masthead {
    min-height: 640px;
    background-position: calc(50% - 416px) 100%;
  }
}

header.masthead .container {
  padding-left: 30%;
  padding-top: 50px;
}
@media (min-width: 992px) {
  header.masthead .container {
    padding-left: 300px;
  }
}

header.masthead h1 {
  font-size: 3em;
}

.navbar-brand {
  font-size: 1.1rem;
  line-height: 1.1rem;
  position: relative;
  padding: 0;
  padding-left: 54px;
}
.navbar-brand img {
  width: 64px;
  position: absolute;
  left: -11px;
  top: 50%;
  margin-top: -35px;
}

.circle {
border-radius: 50%;
}
.square {
border-radius: 5%;
}

.hover-zoom {
  overflow: hidden;
  padding-top: 100%;
  height: 0;
  max-width: none;
  position: relative;
}

.hover-zoom img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    min-height: 100%;
    min-width: 100%;

    max-width: none;
    transition: min-height 1s ease, min-width 1s ease, top 1s ease, left 1s ease;
}

a:hover .hover-zoom img {
    top: -10%;
    left: -10%;
    min-height: 120%;
    min-width: 120%;
}

.blog-button {
  display: flex;
  margin-bottom: 2rem;
}
.blog-thumb {
  flex: 1;
}
.blog-post {
  flex: 1;
  text-align: right;
}
.blog-published {
  font-size: 0.8rem;
}
.blog-title {
  font-size: 1.1rem;
  font-weight: bold;
}
.blog-tags {
  font-size: 0.8rem;
}

.level-button {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 3rem;
  font-family: Montserrat;
}

.level-button:hover {
  text-decoration: none;
}

.btn-social {
    width: 3.25rem;
    height: 3.25rem;
    line-height: 3rem;
    padding: 0;
    margin: 0;
}
.btn-social:hover {
  color: #18bc9c;
}


#contact #contactForm {
  position: relative;
}

#contact .sendingMessage, #contact .successMessage, #contact .errorMessage {
  position: absolute;
  display: none;
  left: -2%;
  top: -2%;
  right: -2%;
  bottom: -2%;
  background: white;
  z-index: 1;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 40%;
  border-radius: .25rem;
}

#contact.sent .sendingMessage {
  display:block;
}
#contact.success .successMessage {
  display:block;
  background-color: #18bc9c;
  color: white;
}
#contact.error .errorMessage {
  display:block;
  background-color: #bc189c;
  color: white;
}

.modal-content {
  overflow: hidden;
}

.modal-body {
  padding: 0;
}

.carousel-control-prev {
  background-image: linear-gradient(to left, rgba(44,62,80,0), rgba(44,62,80,1)); /* Standard syntax (must be last) */
}
.carousel-control-next {
  background-image: linear-gradient(to right, rgba(44,62,80,0), rgba(44,62,80,1)); /* Standard syntax (must be last) */
}
.carousel-caption {

  background-image: linear-gradient(to right, rgba(44,62,80,0), rgba(44,62,80,1), rgba(44,62,80,0));

  /* background: rgba(44,62,80,0.5); */
  padding-right: 15%;
  padding-bottom: 20px;
  padding-left: 15%;
  right: 0;
  left: 0;
  bottom: 0;
}
.carousel-indicators {
  margin-bottom: 0;
}
.carousel-indicators li {
    border-radius: 50%;
    height: 10px;
    width: 10px;
}


.divider {
  position: relative;
  border-bottom: 2px solid #fff;
  margin: 3rem 0;
}

.divider span {
      position: absolute;
    color: #18bc9c;
    left: 10%;
    width: 80%;
    top: 50%;
    margin-top: -1.3rem;
    padding: 0.5rem 0;
    background: #fff;
}

.quoteType {
    display: block;
    padding: .375rem 0;
    font-size: 1rem;
    line-height: 1.5;
}

#quoteForm input {
  background-color: #2c3e50;
  border-color: #2c3e50;
  color: white;
}


.legend {
  color: #2c3e50;
}

.btn-order-type {
  min-height: 6rem;
}

.image {
    display: block;
    width: 80%;
    margin: 0 auto;
}

p.widget {
  text-align: center;
    font-size: 1.5rem;
}
