
@font-face {
  font-family: "Miller Display SC";
  src: url("media/MILLER-DISPLAY-SC.TTF") format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Miller Display SC', serif;
  color: #1f1f1f;
  background-color: #f9f9f9;
  letter-spacing: 0.20em;
  width: 100%;
}
body {
  overflow-x: hidden;
}

.hidden {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.7s ease;
}
a:hover {
  color: #ffaf46;
}
a:active, a:focus, button:focus {
  outline: 0;
}
h1 a:hover {
  color: #1f1f1f;
}

.section {
  /*overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s;*/
  text-align: center;
  display: none;
  /* overflow: auto; */
  min-height: calc(100vh - 48px);
  /* min-height: calc(100vh + 178px); */
}

.section.current {
  /*max-height: 1500px;*/
  display: block;

}
#header {
  height: 30px;
}
#header, #footer {
  background: #292929;
  text-align: center;
  padding: 9px;
  color: #f9f9f9;
  line-height: 30px;
  font-size: 10px;
}
#footer img {
  display: block;
  margin: 0 auto;
}
#footer a {
  color: #f9f9f9;
  text-decoration: none;
}

#footer .container {
  position: relative;
  height: 30px;
}
#footer .left {
  position: absolute;
  left: 0;
  top: 0;
}
#footer .right {
  position: absolute;
  right: 0;
  top: 0;
}

.container {
  width: 1026px;
  margin: 0 auto;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    position: relative;
}
.nextPage {
  text-align: center;
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  height: 82px;
}

.nextPage img {
  width: 36px;
  margin: 20px;
  animation: bounce 0.7s infinite;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% { width: 36px; }
  50% { width: 42px; }
  100% { width: 36px; }
}

.social {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  /*margin-left: 14px;*/
}

.social img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

#slider {
  left: 0;
  right: 0;
  top: 135px;
  bottom: 86px;
  position: absolute;
  overflow: hidden;
}

#menu {
  position: relative;
  height: 378px;
  padding: 9px;
  font-size: 16px;
  transition: height 0.7s, font-size 0.5s;
}
#menu .container {
  height: 100%;
}
#mainMenuUl {
  display: flex;
  padding:0;
  margin:0;
  list-style-type: none;
  height: 100%;
}
#mainMenuUl > li {
  flex: 1;
  text-align: center;
  position: relative;
}

#mainMenuUl > li > div {
  position: absolute;
}
#mainMenuUl > li:nth-child(odd) > div{
  bottom: 0;
}

#mainMenuUl > li a {
  color: black;
  text-decoration: none;
}
#mainMenuUl > li img {
  width: 100%;
  transition: width 0.5s;
}
#mainMenuUl > li span {

  width: 252px;
  margin-left: -54px;
  margin-top: 7px;
  display: block;
  position: absolute;
}

#menuContainer {
  transition: height 1s;
  position:absolute;
  top: 100%;
  width: 100%;
  margin-top: -189px;
}

#menuContainer.up #menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 103px;
  background-color: #f9f9f9;
  color: #f9f9f9;
  font-size: 0px;
  z-index: 10;
  box-shadow: 0px 2px 9px #221f1f;
}
#menuContainer.up #mainMenuUl > li img {
  width: 70%;
}

#menuContainer.up {
  /* height: 120px;
  top: 100%; */
}

#mainMenu {
  height: 50vh;
  min-height: 250px;
  position: relative;
}
#mainMenuSpacing {
  height: 50vh;
  min-height: 350px;

  transition: height 0.3s;
}

#mainMenuSpacing.menuUp {
  height:0;
  min-height:0;
}


h1 {
  float: left;
  margin: 0.27em 0;
  font-size: 2.1em;
  font-weight: normal;
  letter-spacing: 0.2em;
}
.buttons {
  float: right;
  margin: 0.7em 0;
  height: 34px;
}

/* slider */
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  height: 100%;
}

/* Hide the images by default */
.mySlides {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mySlides img {
  object-fit: cover;
  width:100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.mySlides.current img {
  opacity: 1;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #e9e9e9;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.section h2 {
  padding-top: 121px;
  margin-bottom: 52px;
  position: relative;
  height: 324px;
}

.sectionHeader {
  padding-top: 121px;
  margin-bottom: 52px;
  position: relative;
  height: 324px;
  background-position: 0 121px;
  position: relative;
  text-align: center;
  color: #f9f9f9;
}

.sectionHeader .unwind {
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: 100%;
  transition: background-size 2s ease;
}
.sectionHeader.current .unwind {
  background-size: 107%;
}

#bathtub .sectionHeader {
    background-image: url(media/baners/bathtub_b.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
     background-origin: content-box;
}

#bathtub .sectionHeader.current .unwind {
  background-size: 110%;
}

.sectionHeader .unfade {
  height: 100%;
  position: relative;
  opacity: 0;
  transition: opacity 2s linear;
}
.sectionHeader.current .unfade {
  opacity: 1;
}

.sectionHeader h2 {
  font-size: 36px;
  letter-spacing: 0.15em;
  margin: 20px 0;
  font-weight: normal;
  height: auto;
  padding: 0;
}
.sectionHeader .line {
  position: absolute;
  top: 49%;
  height: 1px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0%;
  background: #f9f9f9;
  transition: width 2s ease;
}
.sectionHeader.current  .line {
  width: 49%;
}

#shop .sectionHeader.current .line {
  width: 54.5%;
}
#shop .sectionHeader .unfade {
  padding-top: 1%;
}
#bathtub .sectionHeader .unfade {
    padding-top: 3.3%;
}

#bathtub .sectionHeader .unfade .top{
  margin-bottom: -1%;
}

#bathtub .sectionHeader .bottom{
  margin: 8px 0;
}
#bathtub .sectionHeader .line{
     margin-top: 1px;
}
#bathtub .sectionHeader.current .line {
  width: 50%;
}

#shop .sectionHeader.current .unwind {
  background-position: 32% 50%;
}

.sectionHeader .top {
  position: absolute;
  bottom: 50%;
  width: 100%;
}

.sectionHeader .bottom {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 12px 0px;
  font-size: 20px;
}


.badgeLeft {
  position: absolute;
  width: 146px;
  left: 49px;
  bottom: -73px;
}

.badgeRight {
  position: absolute;
  width: 146px;
  right: 49px;
  bottom: -73px;
}

#bathtub .sectionHeader {
    flex: 0 1 auto;
}

#bathtub.current {
  display: flex;
  flex-flow: column;
}

#bathtub .publish {
      margin-top: -32px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 11px;
    border-bottom: 1px solid;
    position: relative;
}
#bathtub .publish span {

  position: absolute;
  background: #f9f9f9;
  left: 50%;
  top: -7px;
  margin-left: -410px;
  width: 820px;
}

#bathtub .tubcontent {
  background-image: url(media/book/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 342px;
}
#bathtub .tubcontent div {
  padding-top: 113px;
}

.booklink {
  display: block;
  width: 315px;
  padding-top: 127px;
  position: relative;
}
.booklink img {
  position: absolute;
  left: 0;
  top: 0;
}

.newspaper {
  overflow: auto;
  padding: 0 128px;
}
.newspaper .subtitle {
  position: absolute;
    font-size: 10px;
    text-align: center;
    left: 0;
    right: 0;
}

.newspaper .article {
  display: block;
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 0 36px 0 22px;
  text-decoration: none;
  color: black;
  margin-bottom: 45px;
  position: relative;
}

.newspaper .article.right {
  padding: 0 22px 0 36px;
}

.newspaper .article h3 {
    font-weight: normal;
    font-size: 16px;
    margin: 6px;
}

.newspaper .article p {
  text-align: justify;
  text-justify: distribute;
  line-height: 23px;
  margin: 0;
  font-size: 14.5px;
}
.newspaper .article img {
  width: 142px;
  margin-top: -5px;
}

a .hoverFade {
  opacity:0;
  transition: opacity 0.4s linear;
}
a:hover .hoverFade {
  opacity:1;
}
a .hoverUnfade {
  opacity: 1;
  transition: opacity 0.4s linear;
}
a:hover .hoverUnfade {
  opacity: 0;
}

#projectMenu {
  width: 126px;
  float: left;
  padding: 34px 0 0 50px;
  overflow: hidden;
}
#projectMenu .inside.fix {
  width:126px;
  position: fixed;
  top: 150px;
}

#projectMenu a {
  width: 100%;
}

#projectMenu a img {
  width: 100%;
  opacity: 0.16;
  transition: opacity 0.5s ease 0.2s;
}

#projectMenu a.current img, #projectMenu a:hover img {
  opacity: 1;
  transition: opacity 0.5s ease;
}

#projectMenu a h3 {
    height: 0;
    overflow: visible;
    margin: 0;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: normal;
    opacity: 0;
    transition: height 0.5s ease 0.1s, opacity 0.4s ease;
}
#projectMenu a p {
  display: none;
}

#projectMenu a:hover h3 {
  height: 14px;
  opacity: 1.0;
  color: black;
  transition: height 0.7s ease, opacity 0.7s ease 0.2s;
}
#projectMenu a.behind:hover h3 {
  height: 22px;
}

#behind {
    margin-left: 66px;
    overflow: hidden;
    padding-bottom: 86px;
}

a.brick {
  float: left;
  position: relative;
  height: 260px;
  width: 260px;
  display: block;
  overflow: hidden;
    text-align: center;
}
a.brick:hover {
  color: white;
}
.brick .hover {
  visibility: hidden;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 0;
  opacity: 0;
  background-color: rgba(41, 41, 41, 0.85);
  transition:all 0.2s linear;
}
.brick:hover {
  color: #f9f9f9;
}

.brick img {
  width: 260px;
  transition: width 1s, margin 1s;
}

.brick:hover img {
  width: 300px;
  margin: -20px;
}


.brick:hover .hover {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px;
  opacity: 1;
  visibility: visible;
}
.brick .top {
  height: 50%;
  position: relative;
  padding: 0 5px;
}
.brick .line {
  height: 1px;
  margin: 0 auto;
  width: 0%;
  background: #f9f9f9;
  transition: width 0.5s ease;
}
.brick:hover .line {
  width: 100%;
}

.brick .top h5 {
  position: absolute;
  font-weight: normal;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-image: url(media/wlogo.png);
  background-repeat: no-repeat;
  background-position: center top;
  margin: 10px 5px;
  font-size: 14px;
  padding-top: 30px;
}
.brick .bottom {
  font-size: 10px;
  margin-top: 10px;
  text-transform: lowercase;
  padding: 0 10px;
}

.subsection {
  display: none;
  margin-top: -173px;
  padding-top: 173px;
  min-height: calc(100vh - 173px - 48px);

}
.subsection.current {
  display: block;
}

#projectContent {
    margin-left: 180px;
}

.blurout1 {
  animation: blurout1 1s;
}
.blurout2 {
  animation: blurout2 1s;
}

@keyframes blurout1 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes blurout2 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



.newsItem {
  display: flex;
  margin-bottom: 27px;
  color: black;
  text-decoration: none;
}
.newsItem:hover {
  color: black;
  text-decoration: none;
}

.newsItem .lp {
  flex: 1.5;
  position: relative;
  text-align: center;
}

.newsItem .lp:after {
  content:" ";
  position: absolute;
  top: 0;
  bottom: -27px;
  left: 50%;
  border-left: 1px solid black;
}

.newsItem:last-child .lp:after {
  bottom: 0;
}

.newsItem .lp span {
  position: absolute;
  display: block;
  background: #f9f9f9;
  top: 50%;
  left: 50%;
  width: 50px;
  margin-top: -23px;
  margin-left: -23px;
  z-index: 1;
  line-height: 31px;
}

.newsItem .thumbnail {
  background: #1f1f1f;
  flex: 2.1;
  height: 304px;
  box-shadow: 8px 8px 23px #333;
  transition: box-shadow 0.5s ease;
  position: relative;
}

.newsItem:hover .thumbnail {
  box-shadow: none;
}

.newsItem .thumbnail div {
  padding: 18% 13%;
  height: 100%;
  box-sizing: border-box;
  transition: padding 0.7s ease;
}
.newsItem.contain .thumbnail div {
  padding: 13% 13%;
}

.newsItem:hover .thumbnail div {
  padding: 0;
}

.newsItem .thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.newsItem.contain .thumbnail img {
  object-fit: contain;
}

.newsItem .body {
  flex: 3.6;
  padding: 0 59px;
  transition: box-shadow 0.7s ease;
  cursor: pointer;
}

.newsItem .body a {
  animation: pulsate 3s infinite;
  text-decoration: none;
}

@keyframes pulsate {
    0% {
        color: #1f1f1f;
    }
    50% {
        color: #ef9f36;
    }
    100% {
        color: #1f1f1f;
    }
}

.newsItem.square .thumbnail {
    height: 212px;
}

.newsItem:hover .body {
  box-shadow: 2px 2px 14px #999;
}
.newsItem .top {
  height: 50%;
  border-bottom: 1px solid black;
  position: relative;
}
.newsItem .top div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.newsItem .top span {
  font-size: 14px;
}
.newsItem h4 {
  font-weight: normal;
  font-size: 22px;
  margin: 0;
  margin-bottom: 11px;
  margin-top: 4px;
}

.newsItem .bottom {
  height: 50%;
  padding-top: 9px;
  font-size: 14px;
  text-transform: lowercase;
}


#popup {
  display: block;
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: none;
  transition: visibility 0s linear 1s, background-color 0.5s linear 0.5s;

}

#popup.show {
  background-color: rgba(41, 41, 41, 0.85);
  visibility: visible;
  transition-delay: 0s;
}

#popupClose {
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
}

#popup .popupContent {
  background-repeat: no-repeat;
  background-position: right 66%;
  background-color: #1f1f1f;
  width: 0;
  height: 0;
  margin-top: 0;
  margin-left: 0;
  top: 50%;
  left: 50%;
  position: absolute;
  transition: width 0.5s ease 0.5s, height 0.5s ease 0.5s, margin-left 0.5s ease 0.5s, margin-top 0.5s ease 0.5s, left 0.5s ease 0.5s, top 0.5s ease 0.5s;
  color: #f9f9f9;
  box-shadow: 8px 8px 50px #191919;
}

#popup .popupContent.poster {
  background-image: url(media/bee.png?2);
}


#popup.show .popupContent {
  width: 927px;
  height: 690px;
  margin-top: -307px;
  margin-left: -463px;
  transition: width 0.5s ease, height 0.5s ease, margin-left 0.5s ease, margin-top 0.5s ease;
}
#popup.show.poster-contain:not(.poster-horizontal) .popupContent {
  width: 720px;
  height: 740px;
  margin-top: -360px;
  margin-left: -370px;
}

#popupMobileTitle, #popupImage, #popupLegend, #popupTiles {
  opacity: 0;
  transition: opacity 0.5s linear 0s;
}

#popup.show #popupMobileTitle, #popup.show #popupImage, #popup.show #popupLegend, #popup.show #popupTiles {
  opacity: 1;
  transition: opacity 0.5s linear 0.5s;
}

#popup.show.exhibition .popupContent {
  width: 854px;
  height: 650px;
}
#popup.show.exhibition.long .popupContent {
  height: 690px;
}

#popup.exhibition #popupLegend {
  height: auto;
}
#polaroidSub {
    margin-top: 26px;
    font-size: 14px;
    text-transform:lowercase;
}
#polaroidSub .time {
    font-size: 12px;
}

#popup .lp {
  font-size: 12px;
}
#popup .stars {
    font-size: 30px;
    letter-spacing: 0px;
}
#popup #popupImage {
  height: 100%;
  float: left;
  width: 52%;
}
#popup.exhibition #popupImage {
  display: none;
}
#popup #popupImage a {
    display: none;
    height: 100%;
}
#popup #popupImage a.current {
  display:block;
}

#popup #popupImage img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: left;
}
#popup.poster-horizontal #popupImage img {
  object-position: center;
}




#popup #popupLegend {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
    position: relative;
}

#popup h1 {
  display: block;
  float: none;
  font-size: 25px;
  margin: 8px 0 40px 0;
}

#popup .poster .top {
    /* flex: 1; */
    margin-top: 62px;
}
#popup .poster .center {
  flex: 1.3;
  padding-top: 25px;
  font-size: 16.5px;
  text-transform: lowercase;
}
#popup .poster .bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#popup .options {
  border-bottom: 1px solid #f9f9f9;
  border-top: 1px solid #f9f9f9;
  margin: 0px;
  padding: 13px 0;
  font-size: 12px;
}

#popup a {
  cursor: pointer;
}

.popupEye {
  width: 20px;
  margin: 30px auto -54px auto;
}

#popup a.lang:hover {
  color: #f9f9f9;
}

#popup a.current {
  color: #ffaf46;
  text-decoration: none;
}

#archive {
    margin-left: 57px;
    overflow: auto;
    padding-bottom: 55px;
}

#archive .newsItem {
    float: left;
    width: 213px;
    margin-left: 31px;
    margin-bottom: 31px;
}

html {
  height: 100%;
}
body.errorPage {
  text-align: center;
  position: relative;
    height: 100%;
}

body.errorPage .container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 520px;
  transform: translate(-50%, -50%);
}

body.errorPage .container.error404 {
  background-image: url(media/404.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

body.errorPage .container.error500 {
  background-image: url(media/500.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 410px;

}

body.errorPage h1 {
    float: none;
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 16px;
}

body.errorPage h2 {
    font-size: 24px;
  margin-top: -5px;
  font-weight: normal;
}

body.errorPage hr {
    border-color: #1f1f1f;
    margin: 0 92px;
    margin: 0 14.5em;
}

body.errorPage .message {
  margin-top: 10px;
    font-size: 1.4em;
    line-height: 1.2em;
    padding: 0.5em;
}

.exhibitionsBg {
  background-image: url(media/exhibitions/cala.png);
  width: 346px;
  height: 620px;
  margin-left: 213px;
  margin-top: -12px;
  position: relative;
}
#exhibitions {
  position: relative;
}
#pick {
  position: absolute;
  right: -129px;
  top: 50px;
}

#fam.disabled {
  filter: grayscale(100%) brightness(30%);
}

#eye {
    left: 146px;
    top: 47px;
    position: absolute;
}

#exhibitionsList {
    position: absolute;
    top: 316px;
    width: 329px;
    right: 0;
    padding: 0;
    list-style-type: none;
    margin: 0;
    text-align: left;
}

#exhibitionsList li {
  display: none;
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  width: 364px;
  top: 169px;
  left: 30px;
}
#exhibitionsList li .time {
  font-size:12px;
}

#exhibitionsList li.current {
  display: block;
}

#exhibitionsList li.ex12, #exhibitionsList li.ex8 {
  top: -132px;
  left: -43px;
}
#exhibitionsList li.ex13 {
    top: -49px;
    left: -13px;
}
#exhibitionsList li.ex7, #exhibitionsList li.ex10 {
    top: 0;
    left: -13px;
}
#exhibitionsList li.ex3, #exhibitionsList li.ex4 {
  top: 356px;
  left: -39px;
}

#milena {
  width: 360px;
  margin: 0 auto;
  position: relative;
    flex: 1 1 auto;
}

#milena img {
  position: absolute;
  top: 50%;
  margin-top: -122px;
  left: 0;
  opacity: 1;
  transition: all 8s;
  cursor: pointer;
}

#milena img.no {
  opacity: 0;
  cursor: default;
}

.shine {
  overflow: hidden;
  width: 146px;
  height: 146px;
  border-radius: 73px;
}
.shine:after {
  content: "";
  position: absolute;
  width: 350%;
  height: 200%;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient( to right, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 253, 0.0) 82%, rgba(255, 255, 255, 0.5) 90%, rgba(255, 255, 255, 0.0) 98% );
  animation: shine 6s infinite;
}
@keyframes shine {
    from {
      top: -210%;
      left: -310%;
      opacity: 0;
    }
    to {
      opacity: 1;
      top: 30%;
      left: 30%;
    }
}

.fleft {
  float: left;
}
.fright {
  float: right;
}
.button {
  background: #292929;
  color: #f9f9f9;
  padding: 7px 84px 8px 84px;
  font-size: 14px;
  display: block;
}
.button:hover {
  color: #f9f9f9;
}

.frame {
  background: #f9f9f9;
  color: #1f1f1f;
  border: 1px solid #292929;
  padding: 7px 6px 9px 8px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2.5px;
}

.pipeContainer {
  position: relative;
}
.diamond {
  position: absolute;
  right: -65px;
  bottom: -14px;
  background: #f9f9f9;
  font-size: 18px;
  line-height: 34px;
  width: 220px;
}

.diamond img {
  max-width: 100%;
}
.pipe {
  height: 204px;
  /* margin-bottom: 36px; */
  position: relative;
  background: url(media/pipebg.png);
  background-repeat: no-repeat;
  background-position: -8px -4px;
  background-size: contain;
  flex: 0.8;
}

.pipe a {
      display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -147px;
    margin-top: -14px;
    width: 110px;
    height: 110px;
}

.check-archive {
  animation: bounce2 0.7s ease infinite;
  margin: auto;
}

@keyframes bounce2 {
  0% { width: 104px; height: 104px; }
  50% { width: 92px; height: 92px;  }
  100% { width: 104px; height: 104px;  }
}

.nopipe {
  flex: 2;
  text-align: left;
     padding-top: 73px;
}
.nopipe p {
  padding-left: 41px;
  margin: 0;
}

/* #shop .button, #shop .frame {
  margin-top: -27px;
  margin-bottom: -30px;
} */

p.footnote .lg {
  font-size: 14px;
}

p.footnote {
  text-align: justify;
  text-align-last: justify;
  font-size: 10.5px;
  letter-spacing: 2.5px;
  line-height: 17px;
  margin: 0;
  padding-top: 25px;
  margin-bottom: 40px;
}

.contactright {
  margin-top: -37px;
  float: right;
  width: 148px;
  position: relative;
  height: 226px;
  overflow: visible;
}

#contact .batHolder {
    position:absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#contact .bat {
    position:absolute;
    bottom:40px;
    right:0;
    opacity: 1;
    transition: opacity 1s linear;
}
#contact .gotcha {
  position: absolute;
  bottom: 58px;
  font-size: 25px;
  right: 4px;
  opacity: 0;
  transition: opacity 0.5s linear;
}
#contact .smear {
  position: absolute;
  bottom: 26px;
  right: -14px;
  opacity: 0;
  transition: opacity 0.5s linear, right 0 linear 1s;
}

#contact .failed {
  position: absolute;
  bottom: 58px;
  font-size: 23px;
  right: 21px;
  opacity: 0;
  transition: opacity 0.5s linear;
}

#contact.sent .bat {
  right:-300px;
  opacity: 0;
  transition: right 1s ease, opacity 1s linear 1s;
}

#contact.success .smear, #contact.error .smear {
  opacity: 1;
  right: -47px;
  transition: opacity 0.7s linear 1s, right 0.5s ease 1s;
}

#contact.success .gotcha {
  opacity: 1;
  transition: opacity 1s linear;
}

#contact.error .failed {
  opacity: 1;
  transition: opacity 1s linear;
}

.contactleft {
    width: 864px;
    margin-top: -28px;
}

.flex {
  display: flex;
}

.f1 {
  flex: 1;
}

.f2 {
  flex: 2;
}

input, button, textarea {
  font-family: 'Miller Display SC', serif;
  letter-spacing: 0.20em;
  text-transform: uppercase;
  font-size: 12px;
}

input {
  color: #1f1f1f;
  background-color: #f9f9f9;
  padding: 13px 40px;
  text-align: center;
  border: 1px solid #292929;
  box-sizing: border-box;
  width: 100%;
}

input[type="checkbox"] {
  width: 20px;
  display: none;
}
textarea {
    resize: none;
    color: #1f1f1f;
    background-color: #f9f9f9;
    padding: 17px;
    border: 1px solid #292929;
    box-sizing: border-box;
    width: 100%;
    height: 173px;
}
#contact textarea {
  margin-top: 31px;
}

textarea::-moz-placeholder {
  text-align: center;
  line-height:133px;
}
textarea::-webkit-input-placeholder {
  text-align: center;
  padding-top: 62px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
}


button.button {
  margin-top: 18px;
  padding: 13px 0;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  transition: background-color 0.7s ease;
}

button.button:hover {
  cursor: pointer;
  background-color: #ffaf46;
}

.email {
  margin-top: 18px;
  font-size: 12px;
  text-align: right;
}


.error input, .error textarea, .error select {
  border-color: #ef413a;
}
.errorMsg {
  position: absolute;
  color: #ef413a;
  padding-top: 4px;
  margin-bottom: -5px;
  font-size: 12.5px;
}

label .errorMsg {
  left: 28px;
}

label {
  text-transform: lowercase;
  font-size: 12.5px;
  letter-spacing: 2.5px;
  position: relative;
  padding-left: 28px;
  display: block;
}
label a {
    animation: pulsate 3s infinite;
}

#popupTiles {
  position: relative;
  height: 521px;
  width: 783px;
  margin: 35px auto 10px auto;
  overflow: hidden;
  background-image: url(media/tile.png);
  background-attachment: local;
}
#popup.exhibition.long #popupTiles {
    height: 561px;
}

#popupTiles .brick {
  margin-right: 1px;
  margin-bottom: 1px;
}
#polaroidSub h1 {
  margin: 5px 0 20px 0;
}

#news {
  position: relative;
  padding-bottom: 60px;
}

.whiteFade {
  background-image: url(media/fadeWhite.png);
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  position: fixed;
}



/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #4b4b4b;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #ffaf46;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #ffaf46;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  /*background-color: #999;*/
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  /* background-color: #999;*/
  width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}

#cartDrawer {
  visibility: hidden;
  position: fixed;
  z-index: 8;
  width: 192px;
  left: 50%;
  margin-left: -96px;
  top: -500px;
  padding-top: 9px;
  background-color: #f9f9f9;
  opacity: 0;
  text-align: center;
  transition: visibility 0s linear 0.7s, opacity 0.7s, top 0.7s;
}

#cartDrawer.visible {
  visibility: visible;
  top: 113px;
  opacity: 1;
  transition: opacity 0.7s, top 0.7s;
}

#cartDrawerBg {
  content: " ";
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 121px;
  background-color: rgba(41, 41, 41, 0.85);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.7s, opacity 0.7s;
}

#cartDrawerBg.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.7s;
}

#cartDrawer .buyNow {
  height: 23px;
  width: 100%;
  color: #f9f9f9;
  position: relative;
  font-size: 10px;
  line-height: 23px;
  background-color: #1f1f1f;
}
#cartDrawer .buyNow:hover {
  color: #ffaf46;
}

#cartDrawer ul {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0;
}
#cartDrawer li {
  display:inline-block;
  width: 50%;
}
#cartDrawer li:only-child {
  margin: 48px 0;
}
#cartDrawer li.contain {
  width: 100%;
}

#cartDrawer img {
  width: 100% !important;
  height: auto !important;
  display: block;
}



select {
  background: none;
  background: url(media/select.png);
  background-repeat: no-repeat;
  background-position: right 3px center;
  background-size: 12px;
  padding: 5px;
  color: #1f1f1f;
  border: 1px solid #1f1f1f;
  font-family: inherit;
  letter-spacing: 0.20em;
  font-size: 12.5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
select option {
  background: #f9f9f9;
  color: #1f1f1f;
}

select.invert {
  color: #f9f9f9;
  border-color: #f9f9f9;
}
select.invert option {
  background: #1f1f1f;
  color: #f9f9f9;
}

#cartBadge, #cartBadgeMobile {
  position: absolute;
  bottom: 0px;
  right: 24px;

  background: #fa6d25;
  border-radius: 64px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: center;
  width: 24px;
  height: 24px;
  color: #f9f9f9;
}
#cartBadgeMobile {
  right: 0;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}

#orderItems {
      margin-top: -65px;
  width: 100%;
}
#orderItems .cellHead {
  font-size: 20px;
}

#orderItems td, #orderItems th {
  border-bottom: 1px solid gray;
  vertical-align: top;
     padding-top: 62px;
}
#orderItems tfoot td {
  padding-top: 40px;
}
#orderItems tfoot td:last-child {
  border-bottom: none;
}

#orderItems .buttons {
  position: absolute;
  float: left;
  top: 139px;
}
#orderItems .buttons button {
  display: block;
  border: 1px solid;
  width: 100%;
  cursor: pointer;
  font-size: 9px;
  padding: 1px 12px;
  height: 15px;
}

#orderItems button.delete {
    color:  #f9f9f9;
    border: 1px solid #1f1f1f;
    background: #1f1f1f;
}

#orderItems td.thumbnail {
  padding-top: 44px;
  width: 96px;
  padding-right: 40px;
  padding-bottom: 39px;
}
#orderItems td.thumbnail > div {
    min-height: 141px;
}

#orderItems td.thumbnail img {
  width: 96px;
}

#orderItems td.title {
  width: 204px;
  padding-left: 12px;
  position: relative;
}

#orderItems td.title h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 24px;        /* fallback */
  max-height: 48px;       /* fallback */
}

#orderItems td.size {
  width: 100px;
}

#orderItems td.size select {
  height: 31px;
  margin-top: 2px;
  width: 66px;
}

#orderItems td.quantity {
  width: 247px;
  padding-left: 8px;
}

#orderItems td.quantity input {
  height: 31px;
    margin-top: 2px;
    width: 66px;
     padding: 1px 7px;
}

#orderItems td.language {
  width: 164px;
}
#orderItems td.language select {
  width: 100%;
  margin-top: 40px;
  height: 30px;
  font-size: 12px;
  letter-spacing: 1.5px;
}
#orderItems td.price > div {
  width: 120px;
  float: right;
}


.niceSelect {
  position: relative;
     font-size: 12px;
    letter-spacing: 2px;
}
.niceSelect .value {
  font-size: 23px;
  margin-top: 2px;
}
.niceSelect .legend {
  margin-top: 34px;
}
.buttonLeft {
  position: absolute;
  background: url('media/left.png');
  width: 20px;
  height: 20px;
  cursor: pointer;
     background-repeat: no-repeat;
    background-position: center;
    top: 5px;
    left: 50%;
     margin-left: -46px;
}
.buttonRight {
  position: absolute;
  background: url('media/right.png');
  width: 20px;
  height: 20px;
  cursor: pointer;
     background-repeat: no-repeat;
    background-position: center;
    top: 5px;
    right: 50%;
    margin-right: -46px;
}

#shipmentTime, #shipmentCost {
      padding: 9px 0;
  font-size: 22px;
  text-transform: lowercase;
}
#shipmentCost {
  color: #ffaf46;
}

#orderCountry, #orderShipping {
  margin-top: 9px;
  height: 30px;
  text-transform: lowercase;
}

.price .major {
  color: #ffaf46;
  white-space: nowrap;
  font-size: 22px;
  padding: 3px 0 5px 0;
}
.orderTotal .major {
  color: #ef413a;
}

.price .minor {
  font-size: 12px;
  padding: 1px 0;
  white-space: nowrap;
}

#orderItems h3 {
  text-align: left;
  font-size: 20px;
  margin: 0;
  font-weight: normal;
}
#orderItems h4 {
  text-align: left;
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  margin-top: 7px;
}

#orderFormFields {
  transition: opacity 0.5s;
}

#orderForm {
  position: relative;
  margin-bottom: 14px;
  margin-top: -28px;
}
#orderForm .goBack {
  position: absolute;
  background : url('media/back.png');
  width: 34px;
  height: 34px;
  top: 3px;
  left: -49px;
}

#orderForm.running #orderFormFields {
  opacity: 0.3;
}
.proceedButton {
      text-align: right;
    font-size: 19px;
    margin-bottom: -9px;
}

.proceedButton img {
  float: right;
     margin-bottom: 16px;
}

.visibleRunning {
  display: none;
}
.running .visibleRunning {
  display: block;
}
.hiddenRunning {
  display: block;
}
.running .hiddenRunning {
  display: none;
}

.row {
  margin: -1.6%;
    overflow: auto;
}

.c6 {
  width: 46.8%;
  padding: 1.6%;
  float: left;
}

.c3 {
  width: 21.8%;
  padding: 1.6%;
  float: left;
}

.fr {
  float: right;
}

.invoiceHead {
  border-bottom: 1px solid gray;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  margin-bottom: 52px;
  margin-top: 35px;
}
.invoiceHead span {
  position: absolute;
  left: 50%;
  margin-left: -130px;
  width: 260px;
  background: #f9f9f9;
  top: -9px;
}

#orderFormFields .field {
  padding-bottom: 20px;
}

#orderFormFields textarea {
  height: 194px;;
}

.addToCart {
  position: absolute;
  bottom: 156px;
  left: 33px;
  width: 158px;
}

.addToCart button {
  width: 66px;
  color: #f9f9f9;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  float: left;
  margin-left: 11px;
  text-transform: none;
  font-size: 12px;
  line-height: 11px;
}

.addToCart .niceSizeSelect {
  width: 66px;
  color: #f9f9f9;
  cursor: pointer;
  display: block;
  float: left;
  position: relative;
  font-size: 12px;
  line-height: 11px;
}
.addToCart img {
  margin-bottom: 9px;
  width: 53px;
}
.niceSizeSelectOptions {
  position: absolute;
  top: -75px;
  width: 237px;
  left: 4px;
  opacity: 1.0;
  transition: opacity 1s linear;
}
.niceSizeSelectOptions .lines {
  position: absolute;
  border-left: 1px solid #f9f9f9;
  border-top: 1px solid #f9f9f9;
  width: 148px;
  top: 25px;
  left: 28px;
  height: 48px;
}
.niceSizeSelectOptions img {
  margin: 0;
  margin-right: 25px;
  position: relative;
  z-index: 10;
  width: 53px;
  float: right;
}
.faded {
  opacity: 0;
}

input[type=checkbox] + span::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(media/checkbox.png);
  background-size: auto 100%;
  position: absolute;
  left: 0px;
}
input[type=checkbox]:checked + span::after {
  background-position: 20px 0;
}
.shippingParams {
  padding-right: 72px;
}

.shippingParams select {
  width: 100%;
}

#successMsg {
  text-align: center;
  width: 450px;
}

#successMsg h4 {
  font-size: 30px;
    font-weight: normal;
    margin-top: -16px;
    margin-bottom: 22px;
}

#successMsg p {
  padding-left: 0;
}

.belowHead {
  overflow: auto;
  padding: 14px 0;
}

.mobileOnly {
  display: none;
}
#orderForm {
  display: flex;
}
#orderFormFields {
  flex: 1;
}
#orderFormRight {
  flex: 0 0 162px;
  display:flex;
  flex-direction: column;
}

#shipmentNote {
  font-size:12px;
}


.aboutBadges {
  width: 800px;
  margin: 40px auto 0 auto;
}
.aboutBadges a {
  display: inline-block;
  position: relative;
  margin: 14px;
}
.aboutBadges img {
  width: 146px;
}
.aboutBadges .hoverUnfade {
  position:absolute;
  left:0;
  top:0;
}



@media only screen and (max-width: 1026px) {

     #cartBadgeMobile {
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-size: 11px;
     }
    img {
      max-width: 100%;
    }
    .desktopOnly {
        display: none;
    }
    .mobileOnly {
        display: initial;
    }
    body {
      font-size: 10px;
    }
    .container {
        width:100%;
    }
    .social {
      width: 21px;
      height: 21px;
    }
    h1 {
     font-size: 2em;
    }
    .belowHead {
      padding: 5px 0 5px 0;
      width: 84vw;
      margin: 0 auto;
    }
    .buttons {
      height: auto;
    }

    .mySlides img {
      object-fit: contain;
    }

    #header {
      position: fixed;
      z-index: 20;
      width: 100%;
      padding: 6px 0;
      height: 21px;
      top: 0;
    }
    #header img {
      height: 21px;
    }

    .nextPage {
      height: 76px;
    }
    .nextPage img {
      padding: 6px;
      margin: 0px;
      animation: bounceSmall 0.7s infinite;
      margin-top: -19px;
    }
    .prev:hover, .next:hover {
      background-color: transparent;
      color: #e9e9e9 !important;
    }
    @keyframes bounceSmall {
      0% { width: 30px; }
      50% { width: 38px; }
      100% { width: 30px; }
    }

    #mobileMenu {
      display: block;
      position: fixed;
      z-index: 10;
      left: 0;
      right: 0;
      top: 0;
      height: auto;
      background-color: #f9f9f9;
      box-shadow: 0px 2px 9px #221f1f;
    }

    #mobileMenu.start {
      position: relative;
    }
    #mobileMenu.unfolded {
      box-shadow: none;
    }

    #mobileMenuUnfold {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    #mobileMenu.unfolded #mobileMenuUnfold {
       display: none;
    }

    #mobileMenu ul {
      list-style-type: none;
      padding: 0;
      height: calc(20vw - 8px);
      position: relative;
      font-size: 0;
      margin: 40px 20px 7px 20px;
      transition: height 0.5s linear, font-size 0.3s linear;
    }
    #mobileMenu.unfolded ul {
      height: calc(100vh - 47px);
      font-size: 10.5px;
      transition: height 0.5s linear, font-size 0.3s linear 0.5s;
    }
    #mobileMenu li {
      width: 20%;
      top: 0%;
      position: absolute;
      text-align: center;
      transition: left 0.2s linear, top 0.5s linear, margin-top 0.5s linear;
    }

    #mobileMenu.unfolded li {
      top: 50%;
      transition: left 0.2s linear 0.3s, top 0.5s linear, margin-top 0.5s linear;
    }

    #mobileMenu li span {
      position: absolute;
      left: 0;
      right: 0;
      top: 103%;
      margin: 0 -6px;
    }

    #mobileMenu li#l1 {
      left: 0%;
    }
    #mobileMenu li#l2 {
      left: 20%;
    }
    #mobileMenu li#l3 {
      left: 40%;
    }
    #mobileMenu li#l4 {
      left: 60%;
    }
    #mobileMenu li#l5 {
      left: 80%;
    }


    #mobileMenu.unfolded li#l1 {
      margin-top: -25vw;
    }
    #mobileMenu.unfolded li#l2 {
      margin-top: 5vw;
    }
    #mobileMenu.unfolded li#l3 {
      margin-top: -25vw;
    }
    #mobileMenu.unfolded li#l4 {
      margin-top: 5vw;
    }
    #mobileMenu.unfolded li#l5 {
      margin-top: -25vw;
    }

    #mobileMenu a {
      display: block;
      width: 100%;
    }

    #mobileMenu img {
      width: 100%;
    }
    #start #slider {
      display: none;
      width: 84vw;
      margin: 0 auto;
      top: 80px;
      bottom: auto;
      height: 130vw;
    }
    #start {
      padding-top: 33px;
      box-sizing: border-box;
      height: 0;
      min-height: 0;
    }
    #start #slider, #start .container, #start .nextPage {
      display: none;
    }
    #start.masthead.current {
      height: 100vh;
      min-height: 500px;
    }
    #start.current #slider, #start.current .container, #start.current .nextPage {
      display: block;
    }

    .newsItem .lp {
      flex: 1.1;
    }

    .newsItem .lp span {
        width: 40px;
        margin-top: -7.5px;
        margin-left: -20px;
        line-height: 15px;
        font-size: 8px;
    }
    .section {
      margin-top: -33px;
      padding-top: calc(39px + 20vw);
      min-height: calc(100vh - 39px - 20vw);
    }

    .sectionHeader {
      margin:0;
      padding:0;
      height: 32vw;
    }
    .section h2 {
      margin:0;
      padding:0;
      height: 31vw;
    }
    .sectionHeader h2 {
      font-size: 18.5px;
      margin: 10px 0;
      height: auto;
    }
    .sectionHeader .bottom {
      margin: 10px 0px;
      font-size: 10.5px;
    }

    #shop .sectionHeader .unfade {
        padding-top: 3%;
    }
    .sectionHeader.current .line {
      width: 70%;
    }
    #shop .sectionHeader.current .line {
      width: 59%;
    }
    #contact .sectionHeader.current .line {
      width: 56%;
    }

    .sectionHeader.current .unwind {
        background-size: 100%;
    }



    #bathtub .badgeRight {
      display: block;
      width: 64px;
     height: 64px;
     right: 20px;
      bottom: 20px;
    }
    #bathtub .sectionHeader.current .line {
      width: 55%;
    }
    #bathtub .sectionHeader .bottom {
        margin: 10px 20%;
        width: 60%;
    }

    #bathtub .sectionHeader .unfade {
      padding-top: 3%;
    }

    .newspaper .article {
      width: 100%;
      padding: 0;
      margin-bottom: 14px;
    }
    .newspaper {
      width: 250px;
      margin: 0 auto;
      padding: 0;
    }
    #about .sectionHeader {
      margin-bottom: 21px;
    }
    .newspaper .article.right {
      padding: 0;
    }
    .newspaper .article p {
      font-size: 11.5px;
    }

    .badgeRight {
      display: none;
    }
    .badgeLeft {
      display: none;
    }
    .subsection {
      margin:0;
      padding:0;
    }
    #projectMenu {
      display: block;
      width: auto;
      float: none;
      overflow: hidden;
      padding: 0 9%;
      height: 24vw;
      margin: 15px auto;
    }
    #projectMenu .inside.fix {
      width: auto;
      top:0;
      position: relative;
      overflow: hidden;
    }
    #projectMenu a {
      width: 20%;
      padding: 2.5%;
     display: block;
     float: left;
    }
    #projectMenu a h3 {
     font-size: 9px;
     margin: 0 -8px;
    }

    #projectContent {
      margin-left: 0;
    }

    .newsItem h4 {
      font-size: 12px;
    }
    .newsItem .bottom {
      font-size: 8px;
    }
    .newsItem .body {
      padding: 0 20px;
    }
    .newsItem .top span {
        font-size: 6px;
    }

    #footer {
      display: none;
    }

    #popup h1 {
      margin: 1px 0;
      font-size: 16px;
      padding: 0 10px;
      line-height: 18px;
    }
    #popup.exhibition h1 {
      font-size: 12px;
    }

    #popup .popupContent.poster {
      background-image: none;
    }
    #popup.show .popupContent, #popup.show.exhibition.long .popupContent, #popup.show.exhibition .popupContent {
      width: 90vw !important;
      height: 82vh !important;
      margin-top: -41vh !important;
      margin-left: -45vw !important;
    }

    #popup .lp {
      /* padding-top: 16px; */
    }

    #popupMobileTitle {
      text-align: center;
      display: block;
      position: relative;
      height: 83px;
    }

    .exhibition #popupMobileTitle {
      display: none;
    }

    #polaroidSub {
      font-size: 11px;
    }

    .vcenter {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    }

    #popup.exhibition.long #popupTiles, #popup.exhibition #popupTiles, #popup #popupImage {
      position: absolute;
      left: 0;
      right: 0;
      top: 83px;
      bottom: 100px;
      float: none;
      width: 100%;
      height: auto;
      margin: 0;
      background-image: none;
    }
    #popup.exhibition.long #popupTiles, #popup.exhibition #popupTiles {
      top: 0;
      bottom: 70px;
    }

    #popupTiles .brick {
      margin: 0;
    }
    #popup #popupImage a.current {
      display: block;
    }
    #popup .lp {
      font-size: 11px;
    }
    #popup #popupImage img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;
      filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.2));
    }
    #popup #popupLegend {
      position: absolute;
      left: 0;
      right: 0;
      height: 100px;
      bottom: 0;
    }

    #popup.exhibition #popupLegend {
      height: 70px;
      padding: 0;
    }

    #popup.show {
      background-color: rgba(255, 255, 255, 0.65);
    }
    #popup #popupLegend .top {
      display:none;
    }
    #popup .poster .center {
      padding-top: 0;
      padding-bottom: 0;
      margin: 0;
      height: 0;
      overflow: hidden;
      padding: 0;
      flex: 0;
    }
    #popup .poster .bottom {
      position: absolute;
      padding: 0;
      left:0; right:0;
      top:0; bottom:0;
      margin: 30px 87px;
    }
    #popup .options {
      padding: 10px 8px;
    font-size: 10px;
    margin: 0 auto;
    width: auto;
    }
    .addToCart {
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      width: auto;
      height: 56px;
      margin: auto 27px;
      font-size: 11px;
    }
    .addToCart button {
      position: absolute;
      top: 6px;
      right: 0;
      font-size: 11px;
      line-height: 10px;
      margin: 0;
      padding: 0;
    }

    .addToCart .niceSizeSelect {
      top: 6px;
      font-size: 11px;
      line-height: 10px;
    }

    .addToCart img {
      width: 44px;
      margin-bottom: 5px;
    }
    .niceSizeSelectOptions img {
      margin-right: 10px;
    }
    .niceSizeSelectOptions {
      top: -58px;
      width: 162px;
      left: 11px;
    }
    .niceSizeSelectOptions .lines {
      width: 100px;
      top: 21px;
      left: 22px;
      height: 36px;
    }
    .newsItem .thumbnail {
      height: auto;
    }
    #archive .newsItem .thumbnail {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .newsItem.square .thumbnail {
      height: auto;
    }

    #archive {
      padding-left: 2%;
      padding-right: 2%;
      margin-left: 0;
    }

    #archive .newsItem {
      width: 46%;
      margin: 2%;
      height: 0;
      padding-top: 66%;
      position: relative;
    }

    #behind {
      margin-left: 0;
    }
    a.brick {
      width: 50%;
      height: auto;
    }
    .brick img {
      width: 100%;
    }
    .brick:hover img {
      width: 100%;
      margin: 0;
    }

    #shop .button, #shop .frame {
      margin: 5px;
      float: none;
    }

    button.button {
      margin: 10px 0;
      width: 100%;
    }

    #pick {
      display: none;
    }

    .exhibitionsBg {
      margin: -10px auto 0 auto;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      width: 173px;
      height: 310px;
    }

    .exhibitionsBg img {
      user-select: none;
    }

    #eye {
      width: 3px;
      left: 74px;
      top: 23px;
      transition: margin-left 0.2s ease, margin-top 0.2s ease;
    }

    #exhibitionsList {
      position: relative;
      left: 0;
      top: 0;
      width: auto;
      min-height: 110px;
    }
    #exhibitionsList li {
      text-align: center;
      animation: pulsate 3s infinite;
      position: relative;
      width: auto;
      top: initial !important;
      left: 0 !important;
      padding: 15px 20px;
    }
    #exhibitionsList li.mobileShow {
      display: block;
    }


    #exhibitionsList a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }


    /* ORDER */
    #orderItems {
      display: block;
      margin-top: 0;
      width: calc(100% - 40px);
      padding: 0 20px;
    }
    #orderItems tbody {
      display: block;
    }
    #orderItems tfoot {
      display: block;
    }
    #orderItems tr {
      display: block;
      overflow: hidden;
      position: relative;
      padding: 20px 0;
    }

    #orderItems td {
      display: block;
      float: left;
      border-bottom: none;
    }

    #orderItems td.title h3 {
      font-size: 13px;
      line-height: 13px;
    }
    #orderItems h4 {
      font-size: 9px;
    }

    .niceSelect {
      font-size: 8px;
    }
    .niceSelect .value {
      font-size: 12px;
      line-height: 22px;
    }
    .buttonLeft {
      margin-left: -34px;
      top: 1px;
    }
    .buttonRight {
      margin-right: -34px;
      top: 1px;
    }
    .price .major {
      font-size: 13px;
    }
    .price .minor {
      font-size: 10px;
    }

    #orderItems td.thumbnail {
      width: 23%;
      padding: 0;
      margin-right: 2%;
    }
    #orderItems .cellHead {
      font-size: 10px;
    }

    #orderItems td.thumbnail img {
      width: 100%;
      display: block;
      object-fit: contain;
      min-height: 90px;
    }
    #orderItems td.thumbnail > div {
      min-height: 90px;
    }
    #orderItems td.title {
      width: 48%;
      padding: 0;
      padding-left: 2%;
    }

    #orderItems .buttons {
      display: none;
      top: 47px;
      width: 50%;
      left: 0;
    }
    #orderItems .buttons button {
      font-size: 8px;
      padding: 2px 5px;
      height: 15px;
    }
    .niceSelect .legend {
        margin-top: 8px;
    }
    #orderItems td.size {
      width: 22%;
      left: 25%;
      height: 47%;
      padding: 0;
      bottom: 0;
      position: absolute;
    }

    #orderItems td.language {
      width: 23%;
      left: 51%;
      height: 47%;
      padding: 0;
      bottom: 0;
      position: absolute;
    }
    #orderItems td.quantity {
      width: 22%;
      left: 78%;
      height: 47%;
      bottom: 0;
      padding: 0;
      position: absolute;
    }
    #orderItems td.language .cellHead {
      height: 13px;
    }

    #orderItems select {
        border-color: gray;
    }

    #orderItems td.language select {
      margin-top: 0px;
      font-size: 9px;
      line-height: 11px;
      height: 23px;
    }
    #orderItems td.price {
      position: absolute;
      right: 0;
      width: 22%;
      padding: 0;
      top: 20px;
      bottom: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    #orderItems td.price > div {
      width: auto;
      float: none;
    }

    #orderItems tbody tr::after {
      content: " ";
      position: absolute;
      left: 25%;
      right: 0;
      top: 50%;
      height: 1px;
      background: gray;
    }


    #orderItems tfoot tr {
      overflow: visible;
      border-bottom: 1px solid gray;
     margin-bottom: 40px;
    }
    #orderItems tfoot td {
      float: none;
      padding: 0;
      width: 100%;
    }

    #orderItems .orderTableShipping {
      padding-bottom: 20px;
    }
    .shippingParams {
        padding: 0;
    }
    #orderItems .orderTableShippingCost {
      width: 20%;
      float: left;
      height: 63px;
    }
    #orderItems .orderTableShippingTime {
      width: 30%;
      float: left;
    }
    #orderItems .orderTableTotal {
      width: 25%;
      float: left;
    }
    #orderItems .orderTableBuy {
      clear: both;
    }
    #shipmentTime, #shipmentCost {
        font-size: 12px;
    }

    #shipmentNote {
      font-size: 8px;
    }
    .proceedButton {
      cursor: pointer;
      position: absolute;
      width: 64px;
      padding-left: 19px;
      right: 0px;
      bottom: -2px;
      font-size: 12px;
      line-height: 23px;
      white-space: nowrap;
      background: #f9f9f9;
    }

    .proceedButton img {
      float: none;
      margin: 0;
    }




    .diamond {
      width: 64px;
      padding-left: 19px;
      right: 0px;
      bottom: -9px;
      font-size: 12px;
      line-height: 23px;
      white-space: nowrap;
    }

    .pipe {
      background-position: 0px 11px;
     flex: 3.9;
     height: 163px;
    }
    .pipe a {
      margin-left: -106px;
      margin-top: -1px;
      width: 70px;
      height: 70px;
    }

    .check-archive {
      animation: bounce2Small 0.7s ease infinite;
    }

    @keyframes bounce2Small {
      0% { width: 70px; height: 70px; }
      50% { width: 64px; height: 64px;  }
      100% { width: 70px; height: 70px;  }
    }

    p.footnote {
      text-align: justify;
      font-size: 9px;
      padding: 0 20px;
      line-height: 11px;
      margin-top: 20px;
    }
    .pipeContainer {
      margin: 0 20px;
      margin-bottom: 72px;
    }
    .nopipe p {
      padding: 0;
      position: absolute;
      top: calc(100% + 29px);
      left: 0;
      font-size: 13px;
      letter-spacing: 2px;
      right: 0;
      text-align: justify;
      text-align-last: justify;
    }

    #contact {
      position: relative;
      min-height: auto;
    }

    .contactleft {
      width: 90%;
      margin: 24px 5%;
    }

    #contact .contactright {
      float: none;
      height: 140px;
      width: 176px;
      /* padding-right: 31px; */
      margin: 0 auto;
      position: absolute;
      bottom: -70px;
      right: 0px;
      overflow: hidden;
      margin-top: -40px;
    }
    #contact .contactright .buttons {
      display: none;
    }

    input, button, textarea {
      font-size: 10px;
    }
    input {
      padding: 12px 20px;
    }
    #contact textarea {
        margin-top: 30px;
    }
    #send {
      width: calc(50% - 12px);
      padding: 13px 20px;
      font-size: 10px;
      margin: 30px 0;
    }


    #contact .batHolder {
      height: 150px;
      top: 25px;
      left: -30px;
    }
    #contact .failed {
      bottom: 73px;
      right: 48px;
    }
    #contact .gotcha {
      bottom: 73px;
      right: 48px;
    }
    #contact .smear {
      bottom: 41px;
      right: 20px;
    }
    #contact.success .smear, #contact.error .smear {
      right: 2px;
    }

    #milena {
      width: 270px;
    }

    .aboutBadges {
      overflow: auto;
      display: block;
      width: 250px;
      margin: 0 auto;
      margin-top: 30px;
    }
    .aboutBadges a {
      width: 38%;
      margin: 6%;
      display: block;
      float: left;
    }
    .aboutBadges a .hoverFade {
      opacity: 1;
    }
    .aboutBadges a .hoverUnfade {
      opacity: 0;
    }
    button {
      padding: 0;
    }
    #orderForm {
      display: block;
      padding: 20px;
      margin: 0;
    }
    #orderFormFields hr {
      display: none;
    }
    #orderFormRight {
      border-bottom: 1px solid gray;
      position: relative;
      padding: 20px;
      padding-left: 50%;
      padding-right: 25%;
    }

    #orderForm .goBack {
        top: auto;
        left: 26px;
        bottom: 45px;
    }
    #orderFormRight .proceedButton {
      bottom: 3px;
    }

    #successMsg {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      top: 202px;
    }

    #successMsg p {
      position: relative;
    }
    #success .pipeContainer {
     margin-bottom: 175px;
    }

    #bathtub .publish {
        margin: 10px;
        text-transform: uppercase;
        font-size: 9px;
        border: none;
    }
    #bathtub .publish span {
      position: relative;
      background: #f9f9f9;
      left: auto;
      top: auto;
      margin: 0;
      width: auto;
    }

    #bathtub .tubcontent {
         display: block;
         padding-top: 220px;
     background-position: top;
     background-size: 70%;
       }

#bathtub .tubcontent div {
  padding-top: 0;
}
    #bathtub .booklink {
      margin: 20px auto;
    float: none;
    width: 200px;
    padding-top: 81px;
    }
}
