<div>
  <div id="header">
    <div class="container product-page">
      <div class="product-gallery">
        <div class="view">
          <img loading="lazy" src="${item.image?.url}" alt="${item.name}"/>
        </div>
        <div class="thumbs">
          <img loading="lazy" src="${item.image?.url}" alt="${item.name}"/>
          <img loading="lazy" src="${item.image?.url}" alt="${item.name}"/>
          <img loading="lazy" src="${item.image?.url}" alt="${item.name}"/>
        </div>
      </div>
      <div class="product-card">
        <h1>${item.name}</h1>
        <div class="card-body">
          <div class="head">
            <div class="left">
              <p class="sku">SKU:${item.id.toString()}</p>
            </div>
            <h3 class="price">\$${(item.price/100).toStringAsFixed(2)}</h3>
          </div>

          <hr/>

          <p class="description">${item.shortDescription}</p>

          <hr/>

          <div class="ratings">
            <div>
              <span class="icon-star-full"></span>
              <span class="icon-star-full"></span>
              <span class="icon-star-full"></span>
              <span class="icon-star-half"></span>
              <span class="icon-star-empty"></span>
            </div>
            3.5 stars
          </div>

          <hr/>

          <div class="buttons" data-slot="buttons">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
