
<div class="item">
  <a data-type="local" href="${router.url<module_pim.ProductAction>([item.slug])}">
    <div class="hover-zoom">
      <img loading="lazy" width="300" height="300" src="${item.image?.thumbUrl}" alt="${item.name}">
    </div>
    <h3>${item.name}</h3>
    <div class="price">\$${(item.price/100).toStringAsFixed(2)}</div>
  </a>
  <div data-slot="buttons">
    <button class="btn" title="add to comparison">
      <span class="icon-tab"></span>
    </button>
  </div>
</div>
