<div>
  <nav id="navbar" data-slot="navbar">
    <div class="container">
      <a id="logo" data-type="local" href="/">
        <img class="show-md" src="/logo.svg"/>
        <img class="hide-md" src="/logosmall.svg"/>
      </a>
      <ul id="menu" class="menu show-md">
        <li>
          <a data-type="toggle" href="#dm1">
            Our Bestsellers <span class="indicator"></span>
          </a>
          <ul id="dm1" class="submenu">
            <li>
              <a data-type="local" href="${router.url<module_pim.ProductsAction>([])}">
                Red Ball
              </a>
            </li>
            <li>
              <a data-type="local" href="${router.url<module_pim.ProductsAction>([])}">
                Green Ball
              </a>
            </li>
            <li>
              <a data-type="local" href="${router.url<module_pim.ProductsAction>([])}">
                Blue Ball
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a data-type="toggle" href="#dm2">
            All Products <span class="indicator"></span>
          </a>
          <ul id="dm2" class="submenu">
            <li>
              <a data-type="local" href="${router.url<module_pim.ProductsAction>([])}">
                Ambient Balls
              </a>
            </li>
            <li>
              <a data-type="toggle" href="#dm2_1">
                Glassy Products <span class="indicator"></span>
              </a>
              <ul id="dm2_1" class="submenu">
                <li>
                  <a data-type="local" href="${router.url<module_pim.ProductsAction>([])}">
                    Dark Glassy Products
                  </a>
                </li>
                <li>
                  <a data-type="local" href="${router.url<module_pim.ProductsAction>([])}">
                    Light Glassy Products
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a data-type="toggle" href="#dm2_2">
                Metal Products <span class="indicator"></span>
              </a>
              <ul id="dm2_2" class="submenu">
                <li>
                  <a data-type="local" href="${router.url<module_pim.ProductsAction>([])}">
                    Dark Metal Products
                  </a>
                </li>
                <li>
                  <a data-type="toggle" href="#dm2_2_1">
                    Medium Metal Products <span class="indicator"></span>
                  </a>
                  <ul id="dm2_2_1" class="submenu">
                    <li>
                      <a data-type="local" href="${router.url<module_pim.ProductsAction>([])}">
                        Lorem Products
                      </a>
                    </li>
                    <li>
                      <a data-type="local" href="${router.url<module_pim.ProductsAction>([])}">
                        Ipsum Products
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a data-type="local" href="${router.url<module_pim.ProductsAction>([])}">
                    Light Metal Products
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a data-type="local" href="${router.url<module_pim.ProductsAction>([])}">
                Matt Balls
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a data-type="local" href="${router.url<module_cms.PageAction>(['contact'])}">
            Contact
          </a>
        </li>
      </ul>
      <ul class="menu">
        <li>
          <a data-type="toggle" data-target="#search-modal" href="#search-modal">
            <span class="icon-search"></span>
          </a>
        </li>
        <li>
          <a data-type="toggle" data-target="#login-modal" href="#login-modal">
            <span class="icon-user"></span>
          </a>
        </li>
        <li>
          <a id="favourites" data-type="local" href="${router.url<module_favourites.FavouritesAction>([])}">
            <span class="icon-heart-full"></span>
          </a>
        </li>
        <li>
          <a id="cart" data-type="local" href="${router.url<module_om.CartAction>([])}">
            <span class="icon-cart"></span> <span class="total">0</span>
          </a>
        </li>
        <li class="hide-md">
          <a data-type="toggle" data-target="#menu" href="#menu">
            <span class="hamburger"></span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div data-slot="body">
  </div>

  <div id="search-modal" class="modal center">
    <a class="modal-shadow" data-type="toggle" data-target="#search-modal" href="#"></a>
    <div class="modal-body">
      <div class="modal-header">
        Search in our shop
        <a class="modal-close" data-type="toggle" data-target="#search-modal" href="#">
          <span class="icon-cross"></span>
        </a>
      </div>
      <div class="modal-content">
        <form id="search-form" action="/" method="get">
          <div id="search-query">
            <input type="text" placeholder="Type here..." />
            <button><span class="icon-search"></span></button>
          </div>
          <div id="search-filters">
            under <br/>
            construction <br/>
            under <br/>
            construction <br/>
            under <br/>
            construction <br/>
          </div>
        </form>
      </div>
      <div class="modal-actions">
        <a data-type="toggle" data-target="#search-filters" href="#search-filters">
          <span class="icon-equalizer"></span> advanced filters
        </a>
      </div>
    </div>
  </div>

  <div id="login-modal" class="modal center">
    <a class="modal-shadow" data-type="toggle" data-target="#login-modal" href="#"></a>
    <div class="modal-body">
      <div class="modal-header">
        Log in
        <a class="modal-close" data-type="toggle" data-target="#login-modal" href="#">
          <span class="icon-cross"></span>
        </a>
      </div>
      <form id="login-form" action="/" method="get">
        <div class="modal-content">
          <div>
            <input name="email" type="text" placeholder="email" />
          </div>
          <div>
            <input name="password" type="password" placeholder="password" />
          </div>
        </div>
        <div class="modal-actions">
          <a data-type="toggle" data-target="#login-info" href="#login-info">
            <span class="icon-help"></span> help
          </a>
          <button class="btn primary">
            <span class="icon-user"></span> login
          </button>
        </div>
      </form>
    </div>
  </div>

  <div id="modal" class="modal">
    <a class="modal-shadow" data-type="back" href="#"></a>
    <div class="modal-body">
      <a class="modal-close" data-type="back" href="#">
        <span class="icon-cross"></span>
      </a>
      <div class="modal-content" data-slot="modal">

      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div>
        <h3>Shop For</h3>
        <ul>
          <li>
            <a data-type="local" href="${router.url<module_cms.PageAction>(['FQ6A'])}">
              Category 1
            </a>
          </li>
          <li>
            <a data-type="local" href="${router.url<module_cms.PageAction>(['FQ6A'])}">
              Terms and Conditions
            </a>
          </li>
          <li>
            <a data-type="local" href="${router.url<module_cms.PageAction>(['FQ6A'])}">
              Products
            </a>
          </li>
          <li>
            <a data-type="local" href="${router.url<module_cms.PageAction>(['FQ6A'])}">
              Privacy Policy
            </a>
          </li>
          <li>
            <a data-type="local" href="${router.url<module_cms.PageAction>(['FQ6A'])}">
              Example CMS page
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h3>Useful Links</h3>
        <ul>
          <li>
            <a data-type="local" href="${router.url<module_cms.PageAction>(['lorem-ipsum'])}">
              Terms and Conditions
            </a>
          </li>
          <li>
            <a data-type="local" href="${router.url<module_cms.PageAction>(['lorem-ipsum'])}">
              Privacy Policy
            </a>
          </li>
          <li>
            <a data-type="local" href="${router.url<module_cms.PageAction>(['FQ6A'])}">
              Example CMS page
            </a>
          </li>
          <li>
            <a data-type="local" href="${router.url<module_cms.PageAction>(['FQ6A'])}">
              Example CMS page
            </a>
          </li>
          <li>
            <a data-type="local" href="${router.url<module_cms.PageAction>(['contact'])}">
              Contact Us
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h3>Our Social Media</h3>
        <ul>
          <li>
            <a aria-label="Our Twitter" rel="noopener" target="_blank" href="https://twitter.com/">
              <span class="icon-twitter"></span> Twitter
            </a>
          </li>
          <li>
            <a aria-label="Our Facebook" rel="noopener" target="_blank" href="https://www.facebook.com/at.swift.shop/">
              <span class="icon-facebook"></span> Facebook
            </a>
          </li>
          <li>
            <a aria-label="Our Instagram" rel="noopener" target="_blank" href="https://instagram.com/">
              <span class="icon-instagram"></span> Instagram
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h3>Contact Us</h3>
        <ul>
          <li>
            <span class="icon-envelop"></span> contact@swift.shop
          </li>
          <li>
            <span class="icon-phone"></span> 123 456 789
          </li>
          <li>
            <span class="icon-clock"></span> mon - fri 8:00 - 18:00
          </li>
        </ul>
        <div>&copy; ${site.name} 2020</div>
        <div>powered by <a href="http://swift.shop/" target="_blank" rel="noopener">swift.shop</a></div>
      </div>
    </div>
  </footer>
</div>
