<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" id="commisionedCarousel">
    <div class="carousel-item active"></div>
  </div>
  <a class="carousel-control-prev" href="#" role="button">
    <span>❮</span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#" role="button">
    <span>❯</span>
    <span class="sr-only">Next</span>
  </a>
  <ol class="carousel-indicators">
  </ol>
</div>
