<div>
  <header>
    <div id="navbar"></div>
    <nav class="container navbar navbar-expand-lg navbar-auto">
      <a class="navbar-brand" data-type="local" href="/"><img width="44" src="/logo.png"/></a>
      <button class="navbar-toggler" type="button" data-type="toggle" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="mainmenu" class="navbar-nav mr-auto">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="${router.url<WorksAction>([])}" id="navbarDropdown" role="button"  data-type="toggle" aria-haspopup="true" aria-expanded="false">
              Works
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="worksDropdown">
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="${router.url<CommisionedAction>([])}" id="navbarDropdown2" role="button" data-type="toggle" aria-haspopup="true" aria-expanded="false">
              Commisioned
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2" id="commisionedDropdown">
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-type="local" href="${router.url<AwardsAction>([])}">Awards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-type="local" href="${router.url<ExhibitionsAction>([])}">Exhibitions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-type="local" href="${router.url<AboutAction>([])}">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div>
    <div id="beforeBody"></div>
    <div id="body"></div>
  </div>
</div>
