html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: black;
  background-image: url('bg.jpg');
}


#tools {
  width: 64px;
  background: #dd5;
  position: fixed;
  right: 0;
  top: 0;
}

#tools #pieces {
  margin: 5x;
  border-left: 2px solid #992;
  padding: 5px;
  list-style-type: none;
}

#tools #pieces img{
  width: 100%;
}

img.active {
  -webkit-filter: drop-shadow(3px 3px 5px rgba(10,10,255,0.7));
}

#goban {
  width: 1500px;
}
#goban .row {
  overflow: visible;
  height: 64px;
}

#goban .field {
  width: 57px;
  height: 64px;
  float: left;
  position: relative;
}

#goban .even.field {
  margin-top: -32px;
}

#goban .field img {
  position: absolute;
  width: 86px;
  height: 86px;
}

#goban .field.valid > img {
  -webkit-filter: drop-shadow(3px 3px 5px rgba(10,255,10,0.7));
}

#goban .debug {
  position: absolute;
  color: #f47;
  margin-left: 10px;
  margin-top: -20px;
}


#goban .field:hover  img{
  -webkit-filter: drop-shadow(3px 3px 5px rgba(255,10,10,0.7));
}

#hourglass {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(150,150,150,0.4);
  padding: 100px;
  color: white;
  font-size: 22px;
}

#gameover {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(150,150,150,0.4);
  padding: 100px;
  color: red;
  font-size: 22px;
}
