@import "package:module_core/site";
@import "variables";

body.top #navbar {
    background-color: transparent;
    color: $color_white;
    padding: 10px 0;
    img {
        filter: invert(0);
    }
}

.module_core_Layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    #navbar {
        line-height: 3rem;
        background-color: $color_white;
        position: fixed;
        z-index: 1;
        width: 100%;
        padding: 25px 0;
        border-bottom: $border_light;
        color: $color_black;
        img {
            filter: invert(1);
            transition: filter 0.2s ease;
        }
        transition: padding 0.3s ease, color 0.2s ease, background-color 0.2s ease;
        .container {
            display: flex;
            justify-content: space-between;
        }
    }

    @include max-sm {
        #menu.show {
            display: block !important;
            position: absolute;
            left: 0;
            right: 0;
            background: $color_white;
            color: $color_black;
            top: 100%;
        }
    }

    .hamburger {
        position: relative;
        display: inline-block;
        height: 2px;
        width: 15px;
        margin-bottom: 3px;
        background: currentColor;
        &:before, &:after {
            transition: top 0.3s ease, transform 0.3s ease;
            content: ' ';
            position: absolute;
            width: 15px;
            height: 2px;
            background: currentColor;
            border-radius: 3px;
        }
        &:before {
            top: 5px;
        }
        &:after {
            top: -5px;
        }
    }
    .active .hamburger {
        background: none;
        &:before {
            transform: rotate(-45deg);
            top: 0;
        }
        &:after {
            transform: rotate(45deg);
            top: 0;
        }
    }

    .menu {
        display: flex;

        li > a {
            padding: 0 15px;
            white-space: nowrap;
            display: block;
            &:hover {
                background: $color_highlight;
            }
            .indicator {
                position: relative;
                display: inline-block;
                height: 14px;
                width: 15px;
                &:before, &:after {
                    transition: transform 0.3s ease;
                    content: ' ';
                    position: absolute;
                    width: 8px;
                    height: 2px;
                    top: 7.5px;
                    background: currentColor;
                    border-radius: 3px;
                }
                &:before {
                    left: 2px;
                    transform: rotate(45deg);
                }
                &:after {
                    left: 7px;
                    transform: rotate(-45deg);
                }
            }
            &.active .indicator {
                &:before {
                    transform: rotate(-45deg);
                }
                &:after {
                    transform: rotate(45deg);
                }
            }
        }
        > li {
            position: relative;
        }
        .submenu {
            display: none;
            color: $color_white;
            &.show {
                display: block;
            }
            bottom: $border_light;
            @include min-md {
                position:absolute;
                left: 0;
                min-width: 100%;
            }
            background: $color_highlight;
            color: $color_white;
            white-space: nowrap;
            li {
                position: relative;
            }
            .submenu {
                left: 100%;
                top: 0;
            }
            a:not(.active) .indicator {
                &:before {
                    left: 5px;
                    top: 5px;
                    transform: rotate(45deg);
                }
                &:after {
                    left: 5px;
                    top: 10px;
                    transform: rotate(135deg);
                }
            }
        }
    }
    #logo {
        font-size: 2rem;
        img {
            height: 36px;
            margin: 6px 0;
            display: block;
        }
    }

    footer {
        margin-top: auto;
        padding: 100px 0;
        text-align: justify;
        color: #cad;
        background: $color_purple;

        text-align: justify;
        > .container {
            display: flex;
            > div {
                flex: 1 1 25%;
            }
        }
        h3 {
            font-weight: bold;
            font-size: 1em;
            margin: 1em 0 2em 0;
        }
        ul {
            li {
                margin: 0.5em 0;
            }
            margin-bottom: 2em;
        }
        a {
            color: #cad;
            text-decoration: none;
        }
    }

    #search-query {
        display: flex;
        button {
            border: none;
            background: white;
            cursor: pointer;
        }
    }
    #search-filters {
        display: none;
    }
    .modal {
        display: none;
        &.show {
            display: flex;
            .modal-shadow {
                animation: fadeIn 0.7s ease;
            }
        }
        align-items: center;
        justify-content: center;
        position: fixed;
        color: $color_white;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        .modal-shadow {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.65);
            text-align: right;
            font-size: 50px;
            cursor: default;
        }
        .modal-body {
            z-index: 1;
            position: relative;
        }
        .modal-header {
            position: relative;
            padding: 20px;
        }
        .modal-close {
            position: absolute;
            right: 20px;
            top: 20px;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 12px;
            z-index: 100;
        }
        .modal-actions {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        h1 {
            border-bottom: 1px solid $color_highlight;
        }
    }
    .modal.center {
        .modal-body {
            @include gradient-bg;
        }
        .btn.primary {
            background: $color_highlight;
        }
        .modal-content {
            padding: 0 20px;
        }
    }
    .modal.side {
        .modal-title {
            margin: 0;
            padding: 20px;
            font-size: 1.2rem;
            text-align: left;
        }
        &.show {
            .modal-body {
                animation: slideFromRight 0.7s ease;
            }
        }
        .modal-body {
            background: $color_white;
            color: $color_black;
            height: 100%;
            overflow-y: auto;
        }
        justify-content: flex-end;

        .modal-actions {
            border-top: 1px solid $color_highlight;
        }
    }
}
