@import "package:module_core/site";
@import "fonts";
@import "widgets";
@import "variables";

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  &.modal {
      overflow: hidden;
  }
}

h1 {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.module_cms_HeadingWidget {
    @include gradient-bg;
  padding-bottom: 120px;
  background-attachment: fixed;
  color: white;
  padding-top: 60px;
  h1 {
    margin-top: 120px;
    font-size: 48px;
  }
  h2 {
    margin-top: 10px;
    font-size: 18px;
  }
}
#header {
    @include gradient-bg;
  padding-bottom: 120px;
  background-attachment: fixed;
  color: white;
  padding-top: 60px;
  > h1 {
    margin-top: 120px;
    font-size: 48px;
  }
  > h2 {
    margin-top: 10px;
    font-size: 18px;
  }
}
.product-page {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  .product-gallery {
      flex: 1 1 50%;
      .view {
        img {
            width: 100%;
        }
        margin-bottom: -350px;
      }
      .thumbs {
        padding: 0 6%;
        display: flex;
        img {
            width: 28%;
        }
      }
  }
  .product-card {
    flex: 1 1 50%;
    color: $color_white;

    .card-body {
        background: $color_highlight;
        border-radius: 3px;
        padding: 20px;
        margin: 20px;
    }

    .head {
        overflow: hidden;
        margin-bottom: 20px;
        h1 {
            margin: 3px 0 7px 0;
        }
        .left {
            float: left;
            text-align: left;
        }
        .price {
            float: right;
            font-weight: bold;
            color: #e482e8;
        }
    }
    hr {
        border-top: $border_light;
        border-bottom: none;
    }
    .description {
        margin: 60px 0;
    }
    .ratings {
        text-align: center;
        margin: 40px 0;
    }
    .buttons {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 20px;
    }
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes fadeIn {
    0% { display: none; opacity: 0; }
    1% { display: block; opacity: 0; }
    100% { display: block; opacity: 1; }
}

@keyframes slideFromRight {
    0% { transform: translateX(300px); }
    100% { transform: none; }
}


h1, h2 {
  text-align: center;
}
h1 {
  font-size: 22pt;
  margin: 10px 0 20px 0;
}
h2 {
  font-size: 20pt;
  margin: 30px 0 20px 0;
}
h3 {
  font-size: 18pt;
}



#items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#items > .item {
  flex: 0 1 25%;
  padding: 7px;
  padding-bottom: 33px;
  min-width: 230px;
  flex-grow: 1;
}

.item {
  .price {
    color: $color_purple;
    padding: 9px 0;
  }
  .btn {
    .title {
        display: none;
    }
  }
}

.hover-zoom {
  /*height: 300px;
  width: 300px;*/
  overflow: visible;
  display: inline-block;
  margin-bottom: -90px;
  margin-top: -20px;
}

.hover-zoom img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform .5s ease;
  transform: scale(0.7);
}

.hover-zoom:hover img {
  transform: scale(1.1) translate(0, 16px);;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

#breadcrumbs {
  margin: 10px 0;
  display: flex;
  li::after {
    content: ">";
    padding: 0 10px;
  }
  li:last-child::after {
    content: none;
  }
}
.slider {
  position: relative;
  margin-bottom: 20px;
  .s-wrap {
    overflow: hidden;
    max-width: 100vw;
  }
  .s-move {
    top: 50%;
    position: absolute;
    font-size: 20px;
  }
  .s-move:hover {
    color: black;
    cursor: pointer;
  }
  .s-left {
    left: 5px;
  }
  .s-right {
    right: 5px;
  }
  @media (min-width: $break-sm) {
    .s-left {
      left: -30px;
    }
    .s-right {
      right: -30px;
    }
  }
  .s-items {
    display: flex;
    left: -100%;
    transform: translateX(100%);
    @media (min-width: $break-sm) {
      left: -50%;
      transform: translateX(50%);
    }
    @media (min-width: $break-md) {
      left: -33.33333%;
      transform: translateX(33.33333%);
    }
    @media (min-width: $break-lg) {
      left: -25%;
      transform: translateX(25%);
    }
    @media (min-width: $break-xl) {
      //left: -20%;
      //transform: translateX(20%);
    }
    .item {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 100%;
      overflow: hidden;
      padding: 12px 40px;
      @media (min-width: $break-sm) {
        padding: 12px;
        flex-basis: 50%;
      }
      @media (min-width: $break-md) {
        flex-basis: 33.33333%;
      }
      @media (min-width: $break-lg) {
        flex-basis: 25%;
      }
      @media (min-width: $break-xl) {
        //flex-basis: 20%;
      }
      text-align: center;
      box-sizing: border-box;
    }
    .item.s-wrapped {
      order: -1;
    }
  }
  .s-items.s-reversing {
    transform: translateX(-100%);
    @media (min-width: $break-sm) {
      transform: translateX(-50%);
    }
    @media (min-width: $break-md) {
      transform: translateX(-33.33333%);
    }
    @media (min-width: $break-lg) {
      transform: translateX(-25%);
    }
    @media (min-width: $break-xl) {
      //transform: translateX(-20%);
    }
  }
  .s-items.s-fixed {
    transform: none;
    transition: transform 1s;
  }
}

//cart
.module_om_CartWidget {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .cart-items {
        padding: 0 20px;
        margin-top: 30px;
    }
    .modal-actions {
        margin-top: auto;
    }
    .cart-header {

        .subtotal, .qty {
            float: right;
            width: 96px;
        }
        .subtotal {
            text-align: right;
        }
        .qty {
            text-align: center;
        }
    }
    #order {
        display: none;
        &.show {
            display: block;
        }
    }
}

.module_om_EmptyCartWidget {
    line-height: 200px;
    text-align: center;
}

.cart-item {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color_highlight;
  &:last-child {
    border-bottom: none;
  }
  padding: 10px 0;
  h3 {
    font-size: 1rem;
  }
  input.quantity {
    width: 48px;
    appearance: textfield;
    padding: 0;
    font-size: 1.2rem;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    text-align: center;
  }
  button.sub, button.inc {
    width: 24px;
    border: none;
    background: none;
    cursor: pointer;
  }
  .details {
    flex: 1 1 auto;
    padding-right: 30px;
  }
  .qty {
    width: 96px;
    display: flex;
  }
  .subtotal {
    width: 96px;
    text-align: right;
    font-weight: bold;
  }
}


.gradient {
  @include gradient-bg;
  padding-bottom: 100px;
  background-attachment: fixed;
  color: white;
  padding-top: 80px;
  p {
    max-width: 500px;
    margin : 0 auto;
  }
  .icons {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    span {
        margin: 22px;
    }
  }
}


input, button {
    &:focus {
        outline: none;
    }
}

input {
    border: 1px solid $color_gray;
    padding: 15px;
    font-size: 1.5rem;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  background: none;
    &:hover {
            cursor: pointer;
    }
  &.primary {
    background: $gradient;
    color: $color_white;
    background-size: 200% 100%;
    transition: background-position 0.5s ease;
    &:hover {
            background-position: 100% 50%;
    }
  }
  &.invert {
    color: #3F77A2;
    background: none;
  }
}


.module_favourites_AddToFavouritesButton {
    .remove-icon {
        display: none;
    }
    &.remove {
        .add-icon {
            display: none;
        }
        .remove-icon {
            display: inline-block;
        }
    }
}

.form-actions {
    text-align: center;
    padding: 50px 0;
}