//$gradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
$gradient: linear-gradient(-45deg, #cd2a5e, #743288, #cd2a5e);

$color_gray: #f3f6f9;
$color_white: #fcfcfc;
$color_black: #070707;
$color_purple: #743288;

$color_highlight: rgba(0,0,0,0.35);
$border_light: 1px solid rgba(200, 200, 200, 0.5);

@mixin gradient-bg {
  background: $gradient;
  background-size: 200% 100%;
  animation: gradient 7s ease infinite;
}
