

body {
	background-color:#4582b2
}

footer {
	color: #7bf;
}

.cloud{
	padding: 15px 0;
  margin-bottom: 3rem;
  background: rgba(200, 220, 250, 0.6);
  border-radius: 10px;
	/* -webkit-box-shadow:0 0 2px rgba(255,255,255,0.9);
	box-shadow:0 0 2px rgba(255,255,255,0.9)*/
}

@media (min-width: 1200px) {
	.container{
		max-width: 920px;
	}
}

.navbar {
	text-shadow: 1px 1px #4582b2;

}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.75);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}

.jumbotron {
	  /*background: url('../jumbo.png') no-repeat center left;*/
	background: none;
	  /*min-height: 304px;*/
	color: white;
	text-align: right;
	text-shadow: 2px 2px #4582b2;
}

#slideshow > div {
  position: relative;
	height: 400px;
}

#slideshow img {
	width: 100%;
	height: 100%;
  object-fit: contain;
	position: absolute;
	opacity: 0;
	transition: opacity 1s;
}

#slideshow img.current {
	opacity: 1;
}
