<div>
  <!-- Header -->
  <header class="masthead text-white text-center">
    <div class="container">
      <h1 class="text-uppercase mb-0">ready for battle?</h1>
      <hr class="star-light">
      <h2 class="font-weight-light mb-0">complete miniature painting service</h2>
    </div>
  </header>

  <!-- About Section -->
  <section class="bg-primary text-white" id="about">
    <div class="container">
      <h2 class="text-center text-uppercase text-white mb-0">About</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">
            Our studio is located in Toruń, Poland.
            Passion for painting started in 2010.
            Being wargamers ourselves, we know how important it is that your models look beautiful.
          </p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">
            We paint models for all wargaming systems.
            We take much attention painting all models so they look stunning on the battlefield no matter what painting standard you will chose.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Latest Blog Posts</h2>
      <hr class="star-dark mb-5">
      <div id="blogPosts" class="row"></div>
    </div>
  </section>

</div>
