<div>
  <section>
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Under Construction</h2>
      <hr class="star-dark mb-5">
      <div id="items">
      </div>
      We are building a shop with modeling accessories here, in the meantime, pleasee see what we
      <a target="_blank" href="https://www.ebay.com/sch/zydogrze/m.html?_nkw=&_armrs=1&_ipg=&_from=">
        are selling on ebay
      </a>
      .
    </div>
  </section>
</div>
