<div>
  <div id="navbar"></div>
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a data-type="local" class="navbar-brand js-scroll-trigger" href="${router.url<HomeAction>([])}">
        <img src="/img/logo.png">
        Miniature
        <br>
        Painting
        <br>
        Studio
      </a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-type="toggle" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="icon-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a data-type="local" class="nav-link py-3 px-0 px-lg-3" href="${router.url<HomeAction>([])}">About</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a data-type="local" class="nav-link py-3 px-0 px-lg-3" href="${router.url<PaintingAction>([])}">Painting</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a data-type="local" class="nav-link py-3 px-0 px-lg-3" href="${router.url<module_pim.ProductsAction>([])}">Shop</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a data-type="local" class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger" href="${router.url<ContactAction>([])}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="menu"></div>
  <div id="beforeBody" ></div>
  <div id="body"></div>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/miniatureps/">
            <i class="icon-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-outline-light btn-social text-center rounded-circle" href="http://miniaturepaintingstudio.blogspot.com/">
            <i class="icon-blogger"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.instagram.com/miniaturepaintingstudio/">
            <i class="icon-instagram"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.youtube.com/channel/UC6DW9zlhA9Qe2M9PzQaIzFQ/videos?disable_polymer=1">
            <i class="icon-youtube"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://twitter.com/mpsminiatures">
            <i class="icon-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.ebay.com/sch/zydogrze/m.html?_nkw=&_armrs=1&_ipg=&_from=">
            <i class="icon-ebay"></i>
          </a>
        </li>
        <!--li class="list-inline-item">
          <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.flickr.com/photos/136752285@N03/albums">
            <i class="fab fa-fw fa-flickr"></i>
          </a>
        </li-->
      </ul>
    </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
  <div id="modal">
    
  </div>
  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-md-left">
          <small>copyright &copy; Miniature Painting Studio 2020</small>
        </div>
        <div class="col-md-6 text-md-right">
          <small>powered by <a target="_blank" href="http://swift.shop/">swift.shop</a></small>
        </div>
      </div>
    </div>
  </div>
</div>
