<div>
  <!-- Portfolio Grid Section -->
  <section class="portfolio" id="levels">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Our Painting Service</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-6 col-lg-4 mx-auto">
          <a class="level-button" data-type="local" href="${router.url<module_cms.PageAction>(['painting-level-1'])}">
            <div class="hover-zoom">
              <img src="/img/level1.jpg" alt="">
            </div>
            Level 1
          </a>
        </div>
        <div class="col-6 col-lg-4 mx-auto">
          <a class="level-button" data-type="local" href="${router.url<module_cms.PageAction>(['painting-level-2'])}">
            <div class="hover-zoom">
              <img src="/img/level2.jpg" alt="">
            </div>
            Level 2
          </a>
        </div>
        <div class="col-6 col-lg-4 mx-auto">
          <a class="level-button" data-type="local" href="${router.url<module_cms.PageAction>(['painting-level-3'])}">
            <div class="hover-zoom">
              <img src="/img/level3.jpg" alt="">
            </div>
            Level 3
          </a>
        </div>
        <div class="col-6 col-lg-4 mx-auto">
          <a class="level-button" data-type="local" href="${router.url<module_cms.PageAction>(['painting-level-4'])}">
            <div class="hover-zoom">
              <img src="/img/level4.jpg" alt="">
            </div>
            Level 4
          </a>
        </div>
        <div class="col-6 col-lg-4 mx-auto">
          <a class="level-button" data-type="local" href="${router.url<module_cms.PageAction>(['painting-level-5'])}">
            <div class="hover-zoom">
              <img src="/img/level5.jpg" alt="">
            </div>
            Level 5
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-4 mx-auto">
          <a class="popup-show level-button" data-type="local" href="${router.url<module_cms.PageAction>(['assembling'])}">
            <div class="hover-zoom circle">
              <img src="/img/assembling.jpg" alt="">
            </div>
            Assembling
          </a>
        </div>
        <div class="col-6 col-lg-4 mx-auto">
          <a class="popup-show level-button" data-type="local" href="${router.url<module_cms.PageAction>(['bases-modeling'])}">
            <div class="hover-zoom circle">
              <img src="/img/bases.jpg" alt="">
            </div>
            Bases
          </a>
        </div>
        <div class="col-6 col-lg-4 mx-auto">
          <a class="popup-show level-button" data-type="local" href="${router.url<module_cms.PageAction>(['freehands'])}">
            <div class="hover-zoom circle">
              <img src="/img/freehand.jpg" alt="">
            </div>
            Freehands
          </a>
        </div>
      </div>

    </div>
  </section>

  <section class="portfolio bg-primary text-white" id="portfolio">
    <div class="container">
      <h2 class="text-center text-uppercase text-white mb-0">Portfolio</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <a class="portfolio-item d-block mx-auto" target="_blank" href="http://miniaturepaintingstudio.blogspot.com/2019/06/age-of-sigmar-seraphon-army-level-3-and.html">
            <div class="hover-zoom square">
              <img class="img-fluid" src="/img/portfolio/project0.jpg" alt="">
            </div>
          </a>
        </div>
        <!--div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <a class="portfolio-item d-block mx-auto" target="_blank" href="https://miniaturepaintingstudio.blogspot.com/2018/07/wfb-bretonnian-king-louen-leoncoeur.html">
            <div class="hover-zoom square">
              <img class="img-fluid" src="/img/portfolio/project1.jpg" alt="">
            </div>
          </a>
        </div-->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <a class="portfolio-item d-block mx-auto" target="_blank" href="https://www.flickr.com/photos/136752285@N03/albums/72157699323955594">
            <div class="hover-zoom square">
              <img class="img-fluid" src="/img/portfolio/project6.jpg" alt="">
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <a class="portfolio-item d-block mx-auto" target="_blank" href="https://miniaturepaintingstudio.blogspot.com/2016/11/seraphon-army-commissions.html">
            <div class="hover-zoom square">
              <img class="img-fluid" src="/img/portfolio/project2.jpg" alt="">
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <a class="portfolio-item d-block mx-auto" target="_blank" href="https://miniaturepaintingstudio.blogspot.com/2017/11/kairos-fateweaver-daemons-of-chaos.html">
            <div class="hover-zoom square">
              <img class="img-fluid" src="/img/portfolio/project3.jpg" alt="">
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <a class="portfolio-item d-block mx-auto" target="_blank" href="https://miniaturepaintingstudio.blogspot.com/2018/04/warhammer-40k-belisarius-cawl-ryza.html">
            <div class="hover-zoom square">
              <img class="img-fluid" src="/img/portfolio/project4.jpg" alt="">
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <a class="portfolio-item d-block mx-auto" target="_blank" href="https://miniaturepaintingstudio.blogspot.com/2016/05/terrorgheist-vampire-counts-order-work.html">
            <div class="hover-zoom square">
              <img class="img-fluid" src="/img/portfolio/project5.jpg" alt="">
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <a class="portfolio-item d-block mx-auto" target="_blank" href="https://miniaturepaintingstudio.blogspot.com/2016/11/seraphon-army-commissions.html">
            <div class="hover-zoom square">
              <img class="img-fluid" src="/img/portfolio/project7.jpg" alt="">
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <a class="portfolio-item d-block mx-auto" target="_blank" href="https://miniaturepaintingstudio.blogspot.com/2016/12/deathwing-knights-commissions.html">
            <div class="hover-zoom square">
              <img class="img-fluid" src="/img/portfolio/project8.jpg" alt="">
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <a class="portfolio-item d-block mx-auto" target="_blank" href="https://miniaturepaintingstudio.blogspot.com/2018/06/warhammer-vampire-counts-black-coach.html">
            <div class="hover-zoom square">
              <img class="img-fluid" src="/img/portfolio/project9.jpg" alt="">
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <a class="portfolio-item d-block mx-auto" target="_blank" href="http://miniaturepaintingstudio.blogspot.com/2015/10/warhammer-beastmen-jabberslythe-level-3.html">
            <div class="hover-zoom square">
              <img class="img-fluid" src="/img/portfolio/project10.jpg" alt="">
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <a class="portfolio-item d-block mx-auto" target="_blank" href="http://miniaturepaintingstudio.blogspot.com/2019/01/infinity-usariadna-grunts-level-3.html">
            <div class="hover-zoom square">
              <img class="img-fluid" src="/img/portfolio/project11.jpg" alt="">
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <a class="portfolio-item d-block mx-auto" target="_blank" href="https://miniaturepaintingstudio.blogspot.com/2018/03/adeptus-mechanicus-onager-dunecrawler.html">
            <div class="hover-zoom square">
              <img class="img-fluid" src="/img/portfolio/project12.jpg" alt="">
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-primary text-white" id="quote">
    <div class="container">
      <h2 class="text-center text-uppercase mb-0">Order Calculator</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <form id="quoteForm">
            <div class="form-group row">
              <div class="col-4">
                <button id="unitUSD" class="btn btn-warning btn-block">
                  <strong>USD</strong>
                </button>
              </div>
              <div class="col-4">
                <button id="unitEUR" class="btn btn-secondary btn-block">
                  <strong>EUR</strong>
                </button>
              </div>
              <div class="col-4">
                <button id="unitGBP" class="btn btn-secondary btn-block">
                  <strong>GBP</strong>
                </button>
              </div>
            </div>
            <div class="control-group" id="quoteUnits">
            </div>


            <h4 class="text-center text-uppercase divider">
              <span>Painting Quality</span>
            </h4>

            <div class="form-group row">
              <div class="col-2 col-sm-4">

              </div>
              <div class="col-5 col-sm-4">
                <div class="text-center">
                  regular <a class="js-scroll-trigger align-top legend" href="#quoteLegend">*</a>
                </div>
                <button id="quotePrice11" class="btn btn-secondary btn-block">
                  <h6>Level 1</h6>
                  <span class="subtotal"></span>
                </button>
                <button id="quotePrice12" class="btn btn-secondary btn-block">
                  <h6>Level 2</h6>
                  <span class="subtotal"></span>
                </button>
                <button id="quotePrice13" class="btn btn-secondary btn-block">
                  <h6>Level 3</h6>
                  <span class="subtotal"></span>
                </button>
                <button id="quotePrice14" class="btn btn-secondary btn-block">
                  <h6>Level 4</h6>
                  <span class="subtotal"></span>
                </button>
                <button id="quotePrice15" class="btn btn-secondary btn-block">
                  <h6>Level 5</h6>
                  <span class="subtotal"></span>
                </button>
              </div>
              <div class="col-5 col-sm-4">
                <div class="text-center">
                  premium <a class="js-scroll-trigger align-top legend" href="#quoteLegend">*</a>
                </div>
                <button id="quotePrice21" class="btn btn-secondary btn-block">
                  <h6>Level 1</h6>
                  <span class="subtotal"></span>
                </button>
                <button id="quotePrice22" class="btn btn-secondary btn-block">
                  <h6>Level 2</h6>
                  <span class="subtotal"></span>
                </button>
                <button id="quotePrice23" class="btn btn-secondary btn-block">
                  <h6>Level 3</h6>
                  <span class="subtotal"></span>
                </button>
                <button id="quotePrice24" class="btn btn-secondary btn-block">
                  <h6>Level 4</h6>
                  <span class="subtotal"></span>
                </button>
                <button id="quotePrice25" class="btn btn-secondary btn-block">
                  <h6>Level 5</h6>
                  <span class="subtotal"></span>
                </button>
              </div>
            </div>

            <p id="quoteLegend">
              <span class="align-top legend">*</span> It is very common to paint heroes/special units on a higher level. If you would like all your models to be painted using same level please leave the second column blank.
            </p>
            <h4 class="text-center text-uppercase divider">
              <span>Bases Quality</span>
            </h4>
            <div class="form-group row">
              <div class="col-4 col-md-2 mx-auto mb-4">
                <button id="quoteBase1" class="btn btn-secondary btn-block">
                  <h6>Level 1</h6>
                  <span class="subtotal"></span>
                </button>
              </div>
              <div class="col-4 col-md-2 mx-auto mb-4">
                <button id="quoteBase2" class="btn btn-secondary btn-block">
                  <h6>Level 2</h6>
                  <span class="subtotal"></span>
                </button>
              </div>
              <div class="col-4 col-md-2 mx-auto mb-4">
                <button id="quoteBase3" class="btn btn-secondary btn-block">
                  <h6>Level 3</h6>
                  <span class="subtotal"></span>
                </button>
              </div>
              <div class="col-4 col-md-2 mx-auto mb-4">
                <button id="quoteBase4" class="btn btn-secondary btn-block">
                  <h6>Level 4</h6>
                  <span class="subtotal"></span>
                </button>
              </div>
              <div class="col-4 col-md-2 mx-auto mb-4">
                <button id="quoteBase5" class="btn btn-secondary btn-block">
                  <h6>Level 5</h6>
                  <span class="subtotal"></span>
                </button>
              </div>
            </div>
            <h4 class="text-center text-uppercase divider">
              <span>Order Type</span>
            </h4>
            <div class="form-group row">
              <div class="col-sm-6">
                <button id="typePaint" class="btn btn-secondary btn-block btn-lg btn-order-type">
                  <h6>just paint</h6>
                </button>
              </div>
              <div class="col-sm-6">
                <p>
                  Select this option if you would like to ship to us models that you have already assemblied.
                  You will need to cover shipping.
                </p>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <button id="typeAssemble" class="btn btn-warning btn-block btn-lg btn-order-type">
                  <h6>assemble and paint</h6>
                  + <span id="assemblyPrice1"></span> for assembly
                </button>
              </div>
              <div class="col-sm-6">
                <p>
                  Select this option if you would like to ship your unassemblied models to us.
                  You will need to cover shipping.
                </p>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <button id="typeBuy" class="btn btn-secondary btn-block btn-lg btn-order-type">
                  <h6>Buy, assemble and paint</h6>
                  + ? models cost
                  <br/>
                  + <span id="assemblyPrice2"></span> for assembly
                </button>
              </div>
              <div class="col-sm-6">
                <p>
                  We will buy and assemble models for you (directly from the manufacturer at a discount of 10-24%).
                  We will send you models cost after you submit your quote.
                </p>
              </div>
            </div>
            <h4 class="text-center text-uppercase divider">
              <span>Get a Quote</span>
            </h4>
            <p>
              As each model is different this price is just an estimate.
              Please click "Get a Quote" and fill all details about your units so our teem will send you a final price.
            </p>
            <div class="form-group">
              <button type="submit" class="btn btn-secondary btn-xl btn-block">
                <h6>Get a Quote</h6>
                est. total: <span id="totalPrice"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
