
<div>
  <center>
    <a class="btn btn-primary btn-xl" data-type="local" href="${router.url<PaintingAction>([])}">
      <i class="fa fa-dollar-sign"></i> get a quote
    </a>
    <a class="btn btn-primary btn-xl" data-type="local" href="${router.url<PaintingAction>([])}">
      <i class="fa fa-link"></i> see more examples...
    </a>
  </center>

  <div class="container">
    <hr class="star-dark mb-5">
    <div class="row">
      <div class="col-6 col-sm-4 col-lg-2 mx-auto">
        <a class="level-button" data-type="local" href="${router.url<module_cms.PageAction>(['painting-level-1'])}">
          <div class="hover-zoom">
            <img src="/img/level1.jpg" alt="">
          </div>
          Level 1
        </a>
      </div>
      <div class="col-6 col-sm-4 col-lg-2 mx-auto">
        <a class="level-button" data-type="local" href="${router.url<module_cms.PageAction>(['painting-level-2'])}">
          <div class="hover-zoom">
            <img src="/img/level2.jpg" alt="">
          </div>
          Level 2
        </a>
      </div>
      <div class="col-6 col-sm-4 col-lg-2 mx-auto">
        <a class="level-button" data-type="local" href="${router.url<module_cms.PageAction>(['painting-level-3'])}">
          <div class="hover-zoom">
            <img src="/img/level3.jpg" alt="">
          </div>
          Level 3
        </a>
      </div>
      <div class="col-6 col-sm-4 col-lg-2 mx-auto">
        <a class="level-button" data-type="local" href="${router.url<module_cms.PageAction>(['painting-level-4'])}">
          <div class="hover-zoom">
            <img src="/img/level4.jpg" alt="">
          </div>
          Level 4
        </a>
      </div>
      <div class="col-6 col-sm-4 col-lg-2 mx-auto">
        <a class="level-button" data-type="local" href="${router.url<module_cms.PageAction>(['painting-level-5'])}">
          <div class="hover-zoom">
            <img src="/img/level5.jpg" alt="">
          </div>
          Level 5
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-sm-4 col-lg-2 mx-auto">
        <a class="popup-show level-button" data-type="local" href="${router.url<module_cms.PageAction>(['assembling'])}">
          <div class="hover-zoom circle">
            <img src="/img/assembling.jpg" alt="">
          </div>
          Assembling
        </a>
      </div>
      <div class="col-6 col-sm-4 col-lg-2 mx-auto">
        <a class="popup-show level-button" data-type="local" href="${router.url<module_cms.PageAction>(['bases-modeling'])}">
          <div class="hover-zoom circle">
            <img src="/img/bases.jpg" alt="">
          </div>
          Bases
        </a>
      </div>
      <div class="col-6 col-sm-4 col-lg-2 mx-auto">
        <a class="popup-show level-button" data-type="local" href="${router.url<module_cms.PageAction>(['freehands'])}">
          <div class="hover-zoom circle">
            <img src="/img/freehand.jpg" alt="">
          </div>
          Freehands
        </a>
      </div>
    </div>

  </div>

</div>
